@import "src/styles/scaffold";

.empty-state[data-empty-state] {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 50vh;
  margin: var(--space-3) 0;
  row-gap: var(--space-6);

  @include media(">=notebook") { margin: var(--space-5) 0; }

  > header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-2);
    color: var(--color-neutral-7);
    row-gap: var(--space-4);

    @include media(">=notebook") {
      row-gap: var(--space-1);
    }

    p {
      font-size: var(--text-size-4);
      text-align: left;

      @include media(">=notebook") {
        font-size: var(--text-size-5);
        text-align: center;
      }

      span {
        font-weight: var(--text-weight-bold);
      }
    }

    p:last-child {
      font-size: var(--text-size-3);
    }
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-2);

    @include media(">=notebook") {
      flex-direction: row;
      justify-content: center;
      column-gap: var(--space-1);
    }
  }

  a {
    min-width: rem(190px);
  }
}
