@import "../Button/buttons";

.button[data-store-buy-button] {
  color: var(--fs-color-text-inverse);
  background-color: var(--fs-color-secondary-bkg);

  &:hover { background-color: var(--fs-color-secondary-bkg-hover); }

  &:active { background-color: var(--fs-color-secondary-bkg-active); }

  &:disabled {
    color: var(--fs-color-neutral-6);
    background-color: var(--fs-color-disabled-bkg);
  }
}
