@import "../Button/buttons";

.button[data-store-buy-button] {
  color: var(--color-text-inverse);
  background-color: var(--bg-primary-default);

  &:hover { background-color: var(--bg-primary-hover); }

  &:active { background-color: var(--bg-primary-pressed); }

  &:disabled {
    color: var(--color-neutral-6);
    background-color: var(--bg-disabled);
  }
}
