[data-store-card] {
  position: relative;
  padding: var(--space-1);
  background-color: var(--bg-neutral-lightest);

  &:hover,
  &:focus-within {
    outline: 2px solid var(--bg-focus-ring);
  }

  [data-store-card-image] {
    width: 14rem;
    height: 14rem;
    overflow: hidden;
    border-radius: var(--border-radius-default);
  }

  [data-store-card-content] a[href] {
    margin-top: var(--space-2);
    padding: 0;
    color: inherit;
    text-decoration: none;
    outline: none;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
    }
  }

  [data-store-card-actions] {
    position: relative;
    margin-top: var(--space-4);

    [data-store-button] {
      z-index: 1;
      display: flex;
      align-items: center;
      padding: var(--space-1)  var(--space-2);
      color: var(--color-text-negative);
      background-color: var(--bg-secondary-default);
      border: 0;
      border-radius: var(--border-radius-default);
      svg { margin-right: var(--space-1); }

      &:hover, &:focus {
        background-color: var(--bg-secondary-hover);
      }

      &:focus {
        outline: 1px solid var(--bg-selected-outline);
        outline-offset: var(--space-0);
      }
    }
  }
}
