@import "../../../styles/utilities.scss";

.cart-toggle[data-store-button] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--tap-min-size);
  min-height: var(--tap-min-size);
  background-color: transparent;
  border-width: 0;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  transition: background-color .5s ease;

  svg { color: var(--color-text); }

  &::after {
    --cart-toggle-size: var(--space-3);

    position: absolute;
    top: rem(6px);
    left: rem(26px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--cart-toggle-size);
    height: var(--cart-toggle-size);
    padding: var(--space-0);
    color: var(--color-text-inverse);
    font-weight: var(--text-weight-bold);
    font-size: var(--text-size-0);
    background: var(--bg-secondary-default);
    border-radius: var(--border-radius-pill);
    content: attr(data-items);
  }

  &:hover {
    background-color: var(--bg-secondary-light);
  }
}
