[data-store-button].cart-toggle {
    cursor: pointer;

    background-color: #FFF0;
    border-width: 0;
    position: relative;

    svg {
      width: var(--space-5);
      height: var(--space-5);
    }

    &::after {
      content: attr(data-items);

      position: absolute;
      top: var(--space-0);
      left: var(--space-4);

      font-weight: var(--text-weight-bold);
      font-size: var(--text-size-0);
      color: var(--color-text-negative);

      background: var(--bg-secondary-default);
      border-radius: var(--border-radius-pill);
      padding: calc(var(--space-0)/4) var(--space-0);
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: var(--space-4);
    }

    img {
      width: 100%;
      height: 100%;
    }
}

