@import "../../../styles/scaffold";

.order-summary[data-order-summary] {
  padding: 1rem;

  [data-order-summary-subtotal] {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
  }

  [data-order-summary-discount] {
    display: flex;
    justify-content: space-between;
    color: green;
    line-height: 1.5;
  }

  [data-order-summary-total] {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
  }
}
