@import "../../../styles/utilities";
@import "../../../styles/vendors/include-media";

[data-base-select] {
  /* stylelint-disable */

  // Design Tokens for Select
  // --------------------------------------------------------

  // Default properties
  --select-height                   : calc(var(--min-size) / 1.25);
  --select-width                    : auto;
  --select-shadow                   : var(--shadow);
  --select-padding                  : var(--space-1) calc(var(--space-1) + var(--select-icon-size)) var(--space-1) var(--space-2);

  --select-bkg-color                : var(--input-bkg-color);

  --select-text-size                : var(--font-size-base);
  --select-text-color               : var(--color-text);

  --select-icon-color               : var(--color-link);
  --select-icon-size                : var(--font-size-base);

  --select-border-radius            : var(--border-radius-default);
  --select-border-width             : var(--border-width-default);
  --select-border-color             : var(--border-color-default);

  --select-transition-function      : var(--transition-function);
  --select-transition-property      : var(--transition-property);
  --select-transition-timing        : var(--transition-timing);

  // Interactive states
  --select-hover-shadow             : var(--shadow-hover);
  --select-hover-bkg-color          : var(--input-hover-bkg-color);
  --select-hover-text-color         : var(--select-text-color);
  --select-hover-icon-color         : var(--select-icon-color);
  --select-hover-border-color       : var(--border-hover-color-default);

  --select-disabled-bkg-color       : var(--select-bkg-color);
  --select-disabled-text-color      : var(--color-text-disabled);
  --select-disabled-icon-color      : var(--color-text-disabled);
  --select-disabled-border-color    : var(--select-hover-border-color);
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--select-text-size);
  line-height: 1.25;

  [data-store-select] {
    @include focus-ring-visible;
    width: var(--select-width);
    height: var(--select-height);
    padding: var(--select-padding);
    color: var(--select-text-color);
    background-color: var(--select-bkg-color);
    border: var(--select-border-width) solid var(--select-border-color);
    border-radius: var(--select-border-radius);
    box-shadow: var(--select-shadow);
    cursor: pointer;
    transition: var(--select-transition-property) var(--select-transition-timing) var(--select-transition-function);
    appearance: none;

    &:hover:not(:disabled) {
      color: var(--select-hover-text-color);
      background-color: var(--select-hover-bkg-color);
      border-color: var(--select-hover-border-color);
      box-shadow: var(--select-hover-shadow);

      svg { color: var(--select-hover-icon-color); }
    }

    &:disabled {
      color: var(--select-disabled-text-color);
      cursor: not-allowed;
      opacity: 1;
      + svg { display: none; }
    }

    &:focus-visible select { outline: 0; }
  }

  svg {
    position: absolute;
    right: calc(var(--select-icon-size) / 1.5);
    color: var(--select-icon-color);
    pointer-events: none;
  }
}
