@import "src/styles/scaffold";

.container {
  width: 100%;

  [data-breadcrumb-list] {
    display: flex;
    align-items: center;
    overflow-x: hidden;

    li {
      display: inline-flex;

      &:first-child a {
        display: flex;
        align-items: center;
      }

      &:not(:first-child) {
        display: inline;
        min-width: var(--space-7);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media("<=tablet") { max-width: 30%; }
      }
    }

    [data-breadcrumb-item] {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      svg {
        color: var(--color-text);
      }
    }

    [data-breadcrumb-divider] {
      height: var(--space-3);
      margin: 0 var(--space-2) 0 var(--space-1);
      border-left: var(--border-width-0) solid var(--color-border-display);
    }

    [data-breadcrumb-item="current"] {
      color: var(--color-text-disabled);
    }
  }
}

.link {
  display: inline;
  padding: 0;

  &:visited {
    color: var(--color-link);
  }
}
