@import "../../../styles/vendors/include-media";

[data-store-hero] {
  /* stylelint-disable */

  // Design Tokens for Hero Section
  // --------------------------------------------------------

  // Default properties
  --hero-bkg-color          : var(--color-primary-bkg);
  --hero-text-color         : var(--color-primary-text);

  --hero-title-color        : var(--hero-text-color);
  --hero-title-size         : var(--font-size-hero);
  --hero-title-line         : 1.1;

  --hero-paragraph-color    : var(--hero-text-color);
  --hero-paragraph-size     : var(--font-size-lead);
  --hero-paragraph-line     : 1.33;
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: var(--hero-bkg-color);

  @include media(">=tablet") {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }

  [data-hero-content] {
    width: 100%;
    padding: var(--space-5) 0 var(--space-6);

    h1 {
      color: var(--hero-title-color);
      font-weight: var(--text-weight-black);
      font-size: var(--hero-title-size);
      line-height: var(--hero-title-line);
    }

    p {
      margin-top: var(--space-2);
      color: var(--hero-paragraph-color);
      font-size: var(--hero-paragraph-size);
      line-height: var(--hero-paragraph-line);

      @include media(">=tablet") { margin-top: var(--space-4); }
    }

    @include media(">=tablet") {
      width: 100%;
      height: 100%;
    }

    [data-store-button] {
      justify-content: space-between;
      min-width: 11.25rem;
      margin-top: var(--space-6);
    }
  }

  [data-hero-wrapper] {
    display: flex;
    gap: var(--space-3);
    justify-content: space-between;

    @include media(">=tablet") {
      gap: var(--space-1);
      justify-content: flex-start;
    }
  }

  [data-hero-info] {
    @include media(">=tablet") { max-width: 42%; }
  }

  [data-hero-image] {
    [data-gatsby-image-wrapper] {
      width: 100%;

      @include media(">=tablet") { height: 100%; }
    }

    @include media(">=tablet") {
      position: absolute;
      right: 0;
      height: 100%;
      overflow: hidden;
    }
  }
}

[data-hero-variant="default"] {
  min-height: 18.75rem;

  [data-hero-content] {
    @include media(">=tablet") { padding: var(--space-13) 0; }
  }

  [data-store-button] {
    @include media(">=tablet") { margin-top: var(--space-8); }
  }

  [data-hero-image] {
    [data-gatsby-image-wrapper] { min-height: 18.75rem; }

    @include media(">=tablet") { width: 53%; }
  }

  [data-hero-info] {
    @include media(">=tablet") { padding-right: var(--space-9); }
  }
}

[data-hero-variant="small"] {
  min-height: 14.18rem;

  [data-hero-content] {
    padding: var(--space-4) 0 var(--space-3);

    @include media(">=tablet") { padding: var(--space-5) 0; }
  }

  [data-hero-image] {
    [data-gatsby-image-wrapper] { min-height: 14.18rem; }

    @include media(">=tablet") { width: 50%; }
  }
}
