@import "../../../styles/scaffold";

.filter[data-store-filter] {
  // copied from footer.scss (extract?)
  [data-store-accordion] {
    [data-store-list] {
      padding-bottom: var(--space-3);

      li:not(:last-child) {
        margin-bottom: var(--space-3);
      }
    }
  }

  [data-accordion-item] {
    border-bottom: 1px solid var(--color-border-display);
  }

  [data-accordion-item] [data-store-button] {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-3) 0;
    color: var(--color-text);
    font-size: var(--text-size-3);
    line-height: 1.5;
    background-color: transparent;
    border: 0;

    @include media(">=notebook") {
      font-size: var(--text-size-2);
      line-height: 1.25;
    }
  }

  [data-accordion-item] [data-store-icon] {
    display: flex;
  }
}

[data-store-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--bg-neutral-lightest);
}

.filter-modal__content {
  padding: var(--page-padding-phone);
}

.filter-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 { padding: var(--space-3) 0; }

  button {
    position: absolute;
    right: 3px;
    background-color: transparent;
  }
}

.filter-modal__footer {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-3);

  .button {
    &[data-button-variant="secondary"] {
      width: 40%;
      margin-right: var(--space-3);
    }

    &[data-button-variant="primary"] {
      width: 60%;
    }
  }
}
