[data-store-alert] {
  display: flex;
  align-items: center;
  min-height: var(--space-7);
  padding-left: var(--space-3);
  color: var(--color-secondary-4);
  font-size: var(--text-size-1);
  background-color: var(--bg-primary-light);

  [data-icon] {
    filter: var(--filter-color-secondary-4);
  }

  [data-store-icon] {
    width: calc(1.5rem + var(--space-1));
    height: 1.5rem;
    margin: 0;
    padding-right: var(--space-1);
  }

  [data-alert-content] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  span {
    font-weight: var(--text-weight-bold);
  }

  [data-alert-link] {
    min-width: var(--space-8);
    min-height: var(--space-7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      display: inline-flex;
      align-items: center;
      min-width: var(--space-7);
      min-height: var(--space-7);
      padding: 0 var(--space-1);
      color: var(--color-secondary-4);
      font-weight: var(--text-weight-bold);

      &:visited {
        color: var(--color-secondary-4);
      }
    }
  }

  [data-alert-button] {
    min-width: var(--space-7);
    min-height: var(--space-7);
    margin-left: auto;
    background-color: transparent;
    border: none;

    [data-icon] {
      filter: var(--filter-color-secondary-4);
    }

    &:hover {
      background-color: var(--bg-darken-hover);
    }
  }
}
