@import "../../../styles/vendors/include-media";

[data-store-tiles] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  max-width: 77.25rem;
  column-gap: var(--grid-gap-0);
  row-gap: var(--grid-gap-0);

  @include media(">=tablet") {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--grid-gap-1);
  }

  [data-store-tile] {
    height: 21rem;
    background-color: var(--color-neutral-1);
    border-radius: var(--border-radius-default);

    @include media(">=tablet") {
      height: 28.75rem;
    }
  }
}

[data-store-tiles="expanded-first"] > [data-store-tile]:first-child {
  grid-column: span 2;
  min-width: 12rem;

  @include media(">=tablet") {
    height: 28.75rem;
  }
}

[data-store-tiles="expanded-first-two"] {
  > [data-store-tile]:first-child, > [data-store-tile]:nth-child(2) {
    grid-column: span 2;
    min-width: 12rem;

    @include media(">=tablet") {
      height: 28.75rem;
    }
  }
}
