@import "../../../styles/vendors/include-media";

[data-store-tiles] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--grid-gap-0);
  row-gap: var(--grid-gap-0);

  @include media(">=tablet") {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--grid-gap-1);
  }
}

[data-tile] {
  min-width: 9rem;
  height: 24rem;
  border-radius: var(--border-radius-default);

  .product-card[data-store-card] {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;

    img { transition: transform .5s ease; }

    @media (hover: hover) {
      &:hover {
        outline: none;
        box-shadow: var(--box-shadow-dark);

        img {
          transform: scale(1.03);
          transform-origin: center center;
        }
      }
    }

    [data-store-aspect-ratio-wrapper] {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &[data-card-variant="horizontal"] {
      [data-store-card-content] {
        @include media(">=tablet") { padding: var(--space-2) var(--space-3) var(--space-3); }
      }

      .product-card__heading {
        margin-right: 0;

        @include media(">=tablet") {
          width: 60%;
          max-width: 60%;
        }
      }
    }

    [data-card-image] {
      height: 60%;
      overflow: hidden;
      border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

      @include media(">=tablet") { height: 70%; }

      @include media(">=notebook") { height: 80%; }
    }

    [data-card-content] {
      flex-direction: column;
      align-items: flex-start;
      height: 40%;
      padding: var(--space-2);
      border-bottom-right-radius: var(--border-radius-default);
      border-bottom-left-radius: var(--border-radius-default);

      @include media(">=tablet") {
        flex-flow: row wrap;
        height: 30%;
        padding: var(--space-3);
      }

      @include media(">=notebook") { height: 20%; }
    }

    .product-card__title {
      max-height: 2.5rem;
      overflow: hidden;
    }
  }

  @include media(">=tablet") { height: 28rem; }
}

[data-store-tiles="expanded-first"], [data-store-tiles="expanded-first-two"] {
  grid-template-rows: auto 1fr;
}

[data-store-tiles="expanded-first"] > [data-tile]:first-child,
[data-store-tiles="expanded-first-two"] > [data-tile]:first-child,
[data-store-tiles="expanded-first-two"] > [data-tile]:nth-child(2) {
  grid-column: span 2;
  min-width: 12rem;

  [data-card-image] {
    @include media(">=tablet") { height: 70%; }

    @include media(">=notebook") { height: 80%; }
  }

  [data-card-content] {
    flex-direction: row;
    height: auto;

    .product-card__heading {
      width: 65%;
      max-width: 65%;
    }

    @include media(">=tablet") { height: 30%; }

    @include media(">=notebook") { height: 20%; }
  }

  @include media("<tablet") { height: fit-content; }
}

[data-store-tiles="expanded-first-two"] > [data-store-tile]:first-child,
[data-store-tiles="expanded-first-two"] > [data-store-tile]:nth-child(2) {
  [data-card-image] {
    @include media(">=tablet") { height: 80%; }
  }

  [data-card-content] {
    @include media(">=tablet") { height: 20%; }
  }
}
