@import "src/styles/vendors/include-media";

[data-modal-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--color-black-transparent-20);
}

[data-slide-over] {
  position: fixed;
  height: 100vh;
  background-color: var(--bg-neutral-lightest);
}

[data-slide-over-size="full"] {
  width: 100vw;
}

[data-slide-over-size="partial"] {
  --gap-out: 48px;

  width: calc(100vw - var(--gap-out));

  @include media(">=notebook") {
    width: calc(100% / 3);
    max-width: calc(var(--breakpoint-notebook) / 3);
  }
}

[data-slide-over-direction="leftSide"] {
  left: 0;
}

[data-slide-over-direction="leftSide"][data-slide-over-state="in"] {
  transform: translateX(0);
  transition: transform .25s ease-in;
}

[data-slide-over-direction="leftSide"][data-slide-over-state="out"] {
  transform: translateX(-100%);
  transition: transform .25s ease-out;
}

[data-slide-over-direction="rightSide"] {
  right: 0;
}

[data-slide-over-direction="rightSide"][data-slide-over-state="in"] {
  transform: translateX(0);
  transition: transform .25s ease-in;
}

[data-slide-over-direction="rightSide"][data-slide-over-state="out"] {
  transform: translateX(100%);
  transition: transform .25s ease-out;
}
