@import "src/styles/scaffold";

[data-store-icon-button] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--fs-control-tap-size);
  height: var(--fs-control-tap-size);
  color: var(--fs-color-text);
  background-color: transparent;
  border: 0;
  border-radius: var(--fs-border-radius-default);
  transition: background-color .5s ease;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include focus-ring-visible;

  &:hover, &:focus { background-color: var(--fs-color-primary-bkg-light); }

  &:active {
    color: var(--fs-color-text-display);
    background-color: var(--fs-color-main-1);
  }

  &:disabled, &[data-button-disabled="true"] {
    color: var(--fs-color-disabled-text);
    background-color: var(--fs-color-disabled-bkg);
  }
}
