@import "src/styles/scaffold";

.section {
  width: 100vw;
  content-visibility: auto;
  contain-intrinsic-size: rem(2px) rem(1024px);

  .text__title-section {
    margin-bottom: var(--fs-spacing-3);
  }
}
