@import "src/styles/scaffold";

.container {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;

  @include media(">=tablet") {
    padding-top: var(--space-0);
    padding-bottom: var(--space-3);
    overflow-x: auto;
    column-gap: var(--space-2);
  }
}

.item {
  width: 100%;
  &:first-child { margin-left: calc(-1 * var(--space-1)); }
}
