@import "src/styles/scaffold";

[data-product-shelf] {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;

  li {
    width: 100%;
    &:first-child { margin-left: calc(-1 * var(--space-1)); }
  }

  @include media(">=tablet") {
    padding-top: var(--space-0);
    padding-bottom: var(--space-3);
    overflow-x: auto;
    column-gap: var(--space-2);
  }
}

.product-shelf {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);

  @include media(">=notebook") {
    margin-top: var(--page-padding-notebook);
    margin-bottom: var(--page-padding-notebook);
  }
}

.product-shelf__title {
  margin-bottom: var(--space-3);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-4);
  line-height: 1.16;

  @include media(">=notebook") { font-size: var(--text-size-5); }
}

.product-shelf__products {
  min-height: 21.06rem;

  @include media(">=notebook") {
    margin-top: calc(-1 * var(--space-0));
    margin-bottom: calc(-1 * var(--space-3));
  }
}
