@import "src/styles/scaffold";

[data-fs-product-shelf] {
  // --------------------------------------------------------
  // Design Tokens for Product Shelf
  // --------------------------------------------------------

  --fs-product-shelf-height                : 21.06rem;
  --fs-product-shelf-margin-top            : calc(-1 * var(--fs-spacing-0));
  --fs-product-shelf-margin-bottom         : calc(-1 * var(--fs-spacing-3));

  --fs-product-shelf-items-gap             : var(--fs-grid-gap-2);
  --fs-product-shelf-items-padding-top     : var(--fs-spacing-0);
  --fs-product-shelf-items-padding-bottom  : var(--fs-spacing-3);

  --fs-product-shelf-first-item-margin-left: calc(-1 * var(--fs-spacing-1));

  // --------------------------------------------------------
  // Template Styles
  // --------------------------------------------------------

  min-height: var(--fs-product-shelf-height);

  @include media(">=notebook") {
    margin-top: var(--fs-product-shelf-margin-top);
    margin-bottom: var(--fs-product-shelf-margin-bottom);
  }
}

[data-fs-product-shelf-items] {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;

  li {
    width: 100%;
    &:first-child { margin-left: var(--fs-product-shelf-first-item-margin-left); }
  }

  @include media(">=tablet") {
    column-gap: var(--fs-product-shelf-items-gap);
    padding-top: var(--fs-product-shelf-items-padding-top);
    padding-bottom: var(--fs-product-shelf-items-padding-bottom);
    overflow-x: auto;
  }
}
