@import "../../../styles/utilities";

.product-card[data-store-card] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  height: 100%;
  padding: var(--space-1) var(--space-1) var(--space-2);
  border: 1px solid transparent;
  border-radius: var(--border-radius-default);
  transition: box-shadow .5s ease, border .5s ease;

  &:hover,
  &:focus {
    background-color: var(--bg-neutral-lightest);
  }

  &:focus-within { @include focus-ring; }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--color-border-display);
      box-shadow: var(--box-shadow);
    }
  }

  &[data-card-variant="vertical"] {
    [data-card-content] {
      padding-top: var(--space-2);
    }
  }

  &[data-card-variant="horizontal"] {
    [data-card-content] {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: var(--space-3);
      background-color: var(--bg-neutral-light);
    }

    .product-card__heading {
      margin-right: var(--space-1);
    }
  }

  &[data-card-bordered="true"] {
    border: 1px solid var(--color-border-display);
  }

  &[data-card-out-of-stock="true"] {
    background-color: var(--bg-neutral-light);
  }

  [data-card-image] {
    overflow: hidden;
    border-radius: var(--border-radius-default);
    transform: translate3d(0, 0, 0);
  }

  [data-card-content] a[href] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    min-height: 100%;
    max-height: var(--space-6);
    padding: 0;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    outline: none;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
    }
  }

  [data-card-actions] {
    position: relative;
    margin-top: auto;
    padding-top: var(--space-4);
  }

  .product-card__prices {
    display: inline-flex;
    align-content: center;
    margin-bottom: var(--space-2);
  }
}
