@import "../../../styles/utilities";

[data-base-product-card] {

  // Design Tokens for Product Card
  // --------------------------------------------------------

  /* stylelint-disable */
  --product-card-padding            : var(--space-1) var(--space-1) var(--space-2);
  --product-card-min-width          : 14rem;
  --product-card-gap                : var(--grid-gap-0);

  --product-card-border-radius      : var(--border-radius-default);
  --product-card-border-width       : 1px;
  --product-card-border-color       : transparent;
  --product-card-border-color-active: transparent;

  --product-card-bkg-color          : var(--bg-neutral-lightest);
  --product-card-bkg-color-active   : var(--bg-neutral-lightest);

  --product-card-img-radius         : var(--border-radius-default);

  --product-card-content-bkg-color  : var(--bg-neutral-lightest);

  --product-card-text-name          : var(--text-size-2);
  --product-card-text-price         : var(--text-size-2);
  --product-card-text-price-listing : var(--text-size-1);
  --product-card-text-description   : var(--text-size-1);
  --product-card-text-subtitle      : var(--text-size-0);

  --product-card-transition-function: ease;
  --product-card-transition-property: box-shadow;
  --product-card-transition-timing  : .5s;

  --product-card-hover-border       : var(--color-border-display);
  --product-card-hover-shadow       : var(--box-shadow);
  --product-card-hover-bkg-color    : var(--bg-neutral-lightest);

  --product-card-focus-shadow       : 0 0 0 1px var(--bg-neutral-lightest),
                                      0 0 0 var(--border-width-2) var(--bg-focus-ring);
  --product-card-focus-bkg-color    : var(--bg-neutral-lightest);
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  min-width: var(--product-card-min-width);
  height: 100%;
  padding: var(--product-card-padding);
  background-color: var(--product-card-bkg-color);
  border: var(--product-card-border-width) solid var(--product-card-border-color);
  border-radius: var(--product-card-border-radius);
  transition: var(--product-card-transition-property) var(--product-card-transition-timing) var(--product-card-transition-function);

  &:focus-within {
    background-color: var(--product-card-focus-bkg-color);
    outline: none;
    box-shadow: var(--product-card-focus-shadow);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--product-card-hover-bkg-color);
      border-color: var(--product-card-hover-border);
      box-shadow: var(--product-card-hover-shadow);
    }
  }

  [data-card-image] {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--product-card-img-radius);
  }

  [data-card-actions] {
    position: relative;
    margin-top: auto;
    padding-top: var(--space-4);
  }

  [data-card-content] {
    padding: var(--space-2) 0 0 0;
    background-color: var(--product-card-content-bkg-color);

    a[href] {
      min-height: 100%;
      padding: 0;
      color: inherit;
      text-decoration: none;
      outline: none;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
      }
    }
  }
}

[data-base-product-card-title] {
  font-size: var(--product-card-text-title);
  line-height: 1.25;
}

[data-base-product-card-prices] {
  display: inline-flex;
  align-content: center;
  margin-bottom: var(--space-2);
  [data-variant="spot"] { font-size: var(--product-card-text-price); }
  [data-variant="listing"] { font-size: var(--product-card-text-price-listing); }
}

[data-base-product-card-description] {
  font-size: var(--product-card-text-description);
}

[data-base-product-card-footer] {
  display: flex;
  gap: var(--product-card-gap);
  align-items: center;
  justify-content: space-between;

  small { display: block; }
}

// Structure Variants
// --------------------------------------------------------

[data-card-structure="wide"] {
  --product-card-padding: 0;

  [data-card-content] {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--product-card-gap);
    padding: var(--space-3);
  }

  [data-store-badge] {
    grid-row: 1;
    grid-column: 2;
  }

  [data-base-product-card-description] {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}

[data-card-structure="horizontal"] {
  grid-auto-flow: column;
  grid-template-columns: 40% 1fr;
  gap: var(--product-card-gap);
  min-width: calc(var(--product-card-min-width) * 1.5);

  [data-card-content] {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: calc(var(--product-card-gap) / 2);
    padding: calc(var(--product-card-gap) / 2) 0;
  }

  [data-store-badge] { align-self: end; }
  [data-base-product-card-prices] { margin-bottom: 0; }
}

[data-card-structure="grocery"] {
  min-width: calc(var(--product-card-min-width) / 1.5);

  [data-card-image],
  [data-card-actions] {
    grid-row: 1;
    grid-column: 1;
  }

  [data-card-actions] {
    position: relative;
    align-self: end;
    justify-self: center;
    margin-bottom: var(--product-card-gap);
  }

  [data-base-product-card-prices],
  [data-store-badge] {
    margin-bottom: calc(var(--product-card-gap) / 2);
  }
}
