@import "src/styles/scaffold";

.product-card[data-store-card] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  height: 100%;
  padding: var(--fs-spacing-1) var(--fs-spacing-1) var(--fs-spacing-2);
  border: var(--fs-border-width-default) solid transparent;
  border-radius: var(--fs-border-radius-default);
  transition: box-shadow .5s ease, border .5s ease;

  &:hover,
  &:focus {
    background-color: var(--fs-color-neutral-0);
  }

  &:focus-within { @include focus-ring; }

  @media (hover: hover) {
    &:hover {
      border: var(--fs-border-width-default) solid var(--fs-border-color-light);
      box-shadow: var(--fs-shadow);
    }
  }

  &[data-card-variant="vertical"] {
    [data-card-content] {
      padding-top: var(--fs-spacing-2);
    }
  }

  &[data-card-variant="horizontal"] {
    [data-card-content] {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: var(--fs-spacing-3);
      background-color: var(--fs-color-neutral-bkg);
    }

    .product-card__heading {
      margin-right: var(--fs-spacing-1);
    }
  }

  &[data-card-bordered="true"] {
    border: none;

    @include media(">=notebook") {
      border: var(--fs-border-width-default) solid var(--fs-border-color-light);
    }
  }

  &[data-card-out-of-stock="true"] {
    background-color: var(--fs-color-neutral-bkg);
  }

  [data-card-image] {
    overflow: hidden;
    border-radius: var(--fs-border-radius-default);
    transform: translate3d(0, 0, 0);
  }

  [data-card-content] a[href] {
    min-height: 100%;
    max-height: var(--fs-spacing-6);
    padding: 0;
    color: inherit;
    text-decoration: none;
    outline: none;

    @include truncate-title;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
    }
  }

  [data-card-actions] {
    position: relative;
    margin-top: auto;
    padding-top: var(--fs-spacing-4);
  }

  .product-card__prices {
    display: inline-flex;
    align-content: center;
    margin-bottom: var(--fs-spacing-2);
  }
}
