@import "../../../styles/utilities";
@import "../../../styles/vendors/include-media";

[data-base-product-card] {
  /* stylelint-disable */

  // Design Tokens for Product Card
  // --------------------------------------------------------

  // Default properties
  --product-card-padding                  : var(--space-2);
  --product-card-gap                      : var(--grid-gap-0);
  --product-card-min-width                : 13rem;
  --product-card-shadow                   : var(--shadow);
  --product-card-bkg-color                : var(--color-body-bkg);
  --product-card-img-radius               : var(--border-radius-default);
  --product-card-content-padding          : var(--space-2) 0 0 0;

  --product-card-border-radius            : var(--border-radius-default);
  --product-card-border-width             : var(--border-width-subtle);
  --product-card-border-color             : var(--border-color-subtle);

  --product-card-text-title-color         : var(--color-text);
  --product-card-text-title-size          : var(--font-size-body);
  --product-card-text-title-weight        : var(--text-weight-regular);
  --product-card-text-price-color         : var(--color-text);
  --product-card-text-price-size          : var(--font-size-body);
  --product-card-text-price-listing-color : var(--color-text-subtle);
  --product-card-text-price-listing-size  : var(--font-size-small);
  --product-card-text-description-color   : var(--color-text);
  --product-card-text-description-size    : var(--font-size-small);
  --product-card-text-subtitle-color      : var(--color-text-subtle);
  --product-card-text-subtitle-size       : var(--font-size-tiny);

  --product-card-transition-function      : var(--transition-function);
  --product-card-transition-property      : var(--transition-property);
  --product-card-transition-timing        : var(--transition-timing);

  // Interactive states
  --product-card-hover-shadow             : var(--shadow-hover);
  --product-card-hover-bkg-color          : var(--product-card-bkg-color);
  --product-card-hover-border-color       : var(--border-hover-color-subtle);

  --product-card-focus-bkg-color          : var(--product-card-hover-bkg-color);


  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  min-width: var(--product-card-min-width);
  height: 100%;
  padding: var(--product-card-padding);
  background-color: var(--product-card-bkg-color);
  border: var(--product-card-border-width) solid var(--product-card-border-color);
  border-radius: var(--product-card-border-radius);
  box-shadow: var(--product-card-shadow);
  transition: var(--product-card-transition-property) var(--product-card-transition-timing) var(--product-card-transition-function);

  &:focus-within {
    @include focus-ring;
    background-color: var(--product-card-focus-bkg-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--product-card-hover-bkg-color);
      border-color: var(--product-card-hover-border-color);
      box-shadow: var(--product-card-hover-shadow);
    }
  }

  [data-card-image] {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--product-card-img-radius);
  }

  [data-card-actions] {
    position: relative;
    margin-top: var(--product-card-gap);
    padding-top: var(--space-0);
  }

  [data-card-content] {
    padding: var(--product-card-content-padding);

    a[href] {
      min-height: 100%;
      padding: 0;
      color: var(--product-card-text-title-color);
      text-decoration: none;
      outline: none;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
      }
    }
  }
}

[data-base-product-card-title] {
  color: var(--product-card-text-title-color);
  font-weight: var(--product-card-text-title-weight);
  font-size: var(--product-card-text-title-size);
  line-height: 1.25;
}

[data-base-product-card-prices] {
  display: inline-flex;
  align-content: center;

  [data-variant="spot"] {
    color: var(--product-card-text-price-color);
    font-size: var(--product-card-text-price-size);
  }

  [data-variant="listing"] {
    color: var(--product-card-text-price-listing-color);
    font-size: var(--product-card-text-price-listing-size);
  }
}

[data-store-badge] { margin-top: var(--space-1); }

[data-base-product-card-description] {
  margin-bottom: var(--space-1);
  color: var(--product-card-text-description-color);
  font-size: var(--product-card-text-description-size);
}

[data-base-product-card-footer] {
  display: flex;
  gap: var(--product-card-gap);
  align-items: center;
  justify-content: space-between;
  margin-top: var(--product-card-gap);

  small {
    display: block;
    color: var(--product-card-text-subtitle-color);
    font-size: var(--product-card-text-subtitle-size);
  }
}

// Structure Variants
// --------------------------------------------------------

[data-card-structure="wide"] {
  --product-card-padding: 0;
  --product-card-content-padding: var(--space-2);

  [data-card-content] {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--product-card-gap);
  }

  [data-store-badge] {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
  }

  [data-base-product-card-description] {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  [data-base-product-card-footer] { grid-column: 1 / span 2; }
}

[data-card-structure="horizontal"] {
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 40% 1fr;
  gap: var(--product-card-gap);
  min-width: calc(var(--product-card-min-width) * 1.5);

  [data-card-image] { grid-row: span 2; }

  [data-card-content] {
    display: grid;
    grid-row: 1;
    gap: calc(var(--product-card-gap) / 2);
  }

  [data-store-badge] { align-self: end; }
  [data-base-product-card-prices] { margin-bottom: 0; }

  [data-base-product-card-actions] {
    grid-row: 2;
    grid-column: 2;
  }
}

[data-card-structure="grocery"] {
  min-width: calc(var(--product-card-min-width) / 1.5);

  [data-card-content] {
    a[href]::after { display: none; }
  }

  [data-card-image],
  [data-card-actions] {
    grid-row: 1;
    grid-column: 1;
  }

  [data-card-actions] {
    position: relative;
    align-self: end;
    justify-self: center;
    margin-bottom: var(--product-card-gap);
  }

  [data-base-product-card-prices] {
    margin-bottom: calc(var(--product-card-gap) / 2);
  }
}
