@import "src/styles/scaffold";

@mixin quantity-selector-focus-ring {
  @media not all and (min-resolution: .001dpcm) { // Target only Safari browsers
    @supports (-webkit-appearance:none) {
      // Use `focus` instead of `focus-visible` due to Safari's lack of support
      &:focus {
        outline: none;
        box-shadow: none;

        [data-store-icon] {
          @include focus-ring;

          background-color: var(--fs-color-primary-bkg-light);
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;

    [data-store-icon] {
      @include focus-ring;

      background-color: var(--fs-color-primary-bkg-light);
    }
  }
}

[data-store-quantity-selector] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: var(--fs-spacing-7);
  background-color: var(--fs-color-neutral-0);
  border-radius: var(--fs-border-radius-default);
  box-shadow: 0 0 0 var(--fs-border-width-default) var(--fs-border-color-default);
  transition: box-shadow .2s ease;

  [data-store-icon] {
    margin: 0;
    color: var(--fs-border-color-default-active);
    line-height: 0;
  }

  [data-quantity-selector-input] {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border-width: 0;

    &:focus { outline: 0; }
  }

  [data-quantity-selector-button] {
    width: 100%;
    height: 100%;
    padding: var(--fs-spacing-0);
    background-color: transparent;
    border: 0;
    border-radius: var(--fs-border-radius-default);

    @include quantity-selector-focus-ring;

    [data-store-icon] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: var(--fs-border-radius-default);
      transition: background-color .2s ease;
    }

    &:hover:not(:disabled) [data-store-icon] { background-color: var(--fs-color-primary-bkg-light); }

    &:disabled {
      cursor: not-allowed;
      [data-store-icon] { color: var(--fs-border-color-default-disabled); }
    }
  }

  &:hover:not([data-store-quantity-selector="disabled"]) {
    box-shadow: 0 0 0 var(--fs-border-width-thick) var(--fs-border-color-default-active);
  }
}

[data-store-quantity-selector="disabled"] {
  background-color: var(--fs-color-disabled-bkg);
  box-shadow: 0 0 0 var(--fs-border-width-default) var(--fs-color-disabled-bkg);

  [data-quantity-selector-button]:hover [data-store-icon] { background-color: transparent; }
}
