@import "../../../styles/utilities";

@mixin quantity-selector-focus-ring {
  @media not all and (min-resolution: .001dpcm) { // Target only Safari browsers
    @supports (-webkit-appearance:none) {
      // Use `focus` instead of `focus-visible` due to Safari's lack of support
      &:focus {
        outline: none;
        box-shadow: none;

        [data-store-icon] {
          @include focus-ring;

          background-color: var(--bg-secondary-light);
        }
      }
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;

    [data-store-icon] {
      @include focus-ring;

      background-color: var(--bg-secondary-light);
    }
  }
}

[data-store-quantity-selector] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: var(--space-7);
  background-color: var(--bg-neutral-lightest);
  border-radius: var(--border-radius-default);
  box-shadow: 0 0 0 var(--border-width-0) var(--color-border-input);
  transition: box-shadow .2s ease;

  [data-store-icon] {
    margin: 0;
    color: var(--color-border-input-selected);
    line-height: 0;
  }

  [data-quantity-selector-input] {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border-width: 0;

    &:focus { outline: 0; }
  }

  [data-quantity-selector-button] {
    width: 100%;
    height: 100%;
    padding: var(--space-0);
    background-color: transparent;
    border: 0;
    border-radius: var(--border-radius-default);

    @include quantity-selector-focus-ring;

    [data-store-icon] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-default);
      transition: background-color .2s ease;
    }

    &:hover:not(:disabled) [data-store-icon] { background-color: var(--bg-secondary-light); }

    &:disabled {
      cursor: not-allowed;
      [data-store-icon] { color: var(--color-border-input-disabled); }
    }
  }

  &:hover:not([data-store-quantity-selector="disabled"]) {
    box-shadow: 0 0 0 var(--border-width-1) var(--color-border-input-selected);
  }
}

[data-store-quantity-selector="disabled"] {
  background-color: var(--bg-disabled);
  box-shadow: 0 0 0 var(--border-width-0) var(--bg-disabled);

  [data-quantity-selector-button]:hover [data-store-icon] { background-color: transparent; }
}
