@import "../../styles/vendors/include-media";

main {
  display: flex;
  flex-wrap: wrap;
}

.page__section {
  display: inline-block;
  width: 100%;

  > h2 { margin-bottom: var(--space-3); }
}

.page__section-shelf {
  .page__section-content {
    min-height: 21.06rem;

    @include media(">=notebook") {
      margin-top: calc(-1 * var(--space-0));
      margin-bottom: calc(-1 * var(--space-3));
    }
  }
}

.page__section-divisor {
  padding-top: var(--space-5);
  border-top: 1px solid var(--color-border-display);

  @include media(">=notebook") { padding-top: var(--space-9); }
}
