@import "../vendors//include-media.scss";

.plp-wrapper { margin-top: var(--space-3); }

.plp-hero {
  width: 100%;
  margin-top: var(--space-3);

  &.temp {
    height: 365px;
    color: var(--color-neutral-3);
    background-color: currentColor;

    @include media(">=notebook") { height: 227px; }
  }
}

.plp-filters-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 68px;
  padding: var(--space-1) var(--space-3) var(--space-2);
}

.plp-results-wrapper {
  width: 100%;
  background-color: var(--color-neutral-1);
}

.plp-results-count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  padding: var(--space-2) var(--space-3);
}

.plp-results-results {
  --padding: var(--space-1);

  padding: var(--padding);
}

.plp-results-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96px;
  margin-right: calc(var(--padding) * -1);
  margin-left: calc(var(--padding) * -1);
  padding: var(--space-3);
  background-color: var(--color-neutral-0);
}
