@import "../vendors/include-media.scss";

.plp-wrapper { margin-top: var(--space-3); }

.plp-hero {
  width: 100%;
  margin-top: var(--space-3);
}

.plp-content-grid {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;

  @include media(">=notebook") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: var(--space-3);
    padding-right: var(--page-padding-notebook);
    padding-left: var(--page-padding-notebook);
    column-gap: var(--space-4);
  }
}

.plp-filters-wrapper {
  @include media(">=notebook") {
    grid-row: span 2;
    grid-column: 1 / span 3;
    order: unset;
  }
}

.plp-sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 1;
  width: 100%;
  min-height: 68px;
  padding: var(--space-1) var(--space-3) var(--space-2);
  background-color: var(--color-neutral-0);

  @include media(">=notebook") {
    grid-column: 6 / span 7;
    justify-content: right;
    order: unset;
    min-height: initial;
    padding: 0;
  }
}

.plp-results-count-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  min-height: 45px;
  padding: var(--space-2) var(--space-3);
  background-color: var(--color-neutral-1);

  @include media(">=notebook") {
    grid-column: 4 /span 2;
    justify-content: left;
    order: unset;
    min-height: initial;
    padding: 0;
    background-color: unset;
  }
}

.plp-results-wrapper {
  order: 3;
  --padding: var(--space-1);

  padding: var(--padding) var(--padding) 0;
  background-color: var(--color-neutral-1);

  @include media(">=notebook") {
    grid-column: 4 / span 9;
    order: unset;
    padding: 0;
    background-color: unset;
  }
}

.plp-results-sponsored {
  margin: var(--space-1) calc(var(--padding) * -1);
  padding: var(--space-4) var(--space-3);
  background-color: var(--color-neutral-0);

  @include media(">=notebook") {
    margin: var(--space-6) 0;
    padding: 0;

    [data-store-tiles] {
      column-gap: var(--grid-gap-0);
      row-gap: 0;
    }
  }

  h3 { margin-bottom: var(--space-1); }
}

.plp-load-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96px;
  margin: var(--padding) calc(var(--padding) * -1) 0;
  padding: var(--space-4);
  background-color: var(--color-neutral-0);

  @include media(">=notebook") {
    padding: var(--space-1) var(--space-2);
  }

  [data-store-button] {
    width: 100%;

    @include media(">=notebook") {
      width: fit-content;
    }
  }
}
