@import "../vendors/include-media";

.product-listing__breadcrumb {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

.product-listing__hero {
  width: 100%;
}

.product-listing {
  --product-listing-grid-height: 2197px;
  --product-listing-row-height: var(--space-6);

  min-height: var(--product-listing-grid-height);
  padding-top: 0;

  @include media(">=notebook") {
    padding-top: var(--page-padding-notebook);
  }
}

.product-listing__content-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 0;
  padding-left: 0;

  @include media(">=notebook") {
    display: grid;
    grid-template-rows: var(--product-listing-row-height) auto;
    grid-template-columns: repeat(12, 1fr);
    padding-right: var(--page-padding-notebook);
    padding-left: var(--page-padding-notebook);
    column-gap: var(--space-4);
    row-gap: var(--space-0);
  }
}

.product-listing__scroll-top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: var(--space-10);

  @include media(">=notebook") {
    padding-bottom: var(--space-8);
  }
}
