// ----------------------------------------------------------
// Theme: Base Store
// ----------------------------------------------------------

.base-store {
  /* stylelint-disable */

  // Color palette
  // --------------------------------------------------------

  --color-neutral-0           : #f1f2f3;
  --color-neutral-1           : #c7ccd1;
  --color-neutral-2           : #9099a2;
  --color-neutral-3           : #171a1c;
  --color-neutral-4           : #000;

  --color-primary-0           : #ecf0ff;
  --color-primary-1           : #d8e2ff;
  --color-primary-2           : #00419e;
  --color-primary-3           : #002c71;
  --color-primary-4           : #001947;

  // Semantic colors
  // --------------------------------------------------------

  --color-link                : var(--color-primary-2);
  --color-text                : var(--color-neutral-3);
  --color-text-subtle         : var(--color-neutral-2);
  --color-text-inverse        : #ffffff;
  --color-body-bkg            : #ffffff;
  --color-focus-ring          : #8db6fa;

  --color-success-bkg         : #cee8de;
  --color-success-text        : var(--text-color);
  --color-highlighted-bkg     : #ebdcff;
  --color-highlighted-text    : var(--text-color);
  --color-info-bkg            : var(--color-primary-0);
  --color-info-text           : var(--text-color);
  --color-neutral-bkg         : var(--color-neutral-0);
  --color-neutral-text        : var(--text-color);
  --color-promo-bkg           : #fff68a;
  --color-promo-text          : #f2636a;

  --color-primary-bkg         : var(--color-primary-4);
  --color-primary-text        : var(--color-body-bkg);
  --color-primary-hover-bkg   : var(--color-primary-3);
  --color-primary-active-bkg  : var(--color-primary-2);

  --color-secondary-bkg       : transparent;
  --color-secondary-text      : var(--color-primary-3);
  --color-secondary-hover-bkg : var(--color-primary-0);
  --color-secondary-active-bkg: var(--color-primary-1);

  --color-tertiary-bkg        : transparent;
  --color-tertiary-text       : var(--color-link);
  --color-tertiary-hover-bkg  : var(--color-secondary-hover-bkg);
  --color-tertiary-active-bkg : var(--color-secondary-active-bkg);

  // Sizing & scale
  // --------------------------------------------------------
  --min-size                  : 48px;

  // Components properties
  // --------------------------------------------------------

  --border-radius-default     : 4px;
  --border-color-default      : var(--color-neutral-2);
  --border-color-subtle       : transparent;
  --border-width-default      : 2px;
  --border-width-subtle       : 1px;
  --border-hover-color-default: var(--color-link);
  --border-hover-color-subtle : var(--color-neutral-1);

  // Interactive properties
  // --------------------------------------------------------

  --transition-timing         : .2s;
  --transition-property       : all;
  --transition-function       : ease-in-out;

  --input-bkg-color           : var(--color-secondary-bkg);
  --input-hover-bkg-color     : var(--color-secondary-hover-bkg);

  --shadow                    : none;
  --shadow-hover              : 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);

  // Typography
  // --------------------------------------------------------

  --type-scale-mobile         : 1.15;
  --type-scale-desk           : 1.25;
  --type-scale                : var(--type-scale-mobile);
  @include media(">=notebook") {
    --type-scale              : var(--type-scale-desk);
  }

  // Base size = 1rem
  --font-size-base            : 16px;

  // By size
  --font-size-0               : 12px;
  --font-size-1               : 14px;
  --font-size-2               : var(--font-size-base);                           // mobile   desk
  --font-size-3               : calc(var(--font-size-2) * var(--type-scale));    // 18px     20px
  --font-size-4               : calc(var(--font-size-3) * var(--type-scale));    // 21px     25px
  --font-size-5               : calc(var(--font-size-4) * var(--type-scale));    // 24px     31px
  --font-size-6               : calc(var(--font-size-5) * var(--type-scale));    // 27px     39px
  --font-size-7               : calc(var(--font-size-6) * var(--type-scale));    // 32px     48px
  --font-size-8               : calc(var(--font-size-7) * var(--type-scale));// 37px     61px

  // By role
  --font-size-tiny            : var(--font-size-0);
  --font-size-small           : var(--font-size-1);
  --font-size-body            : var(--font-size-base);
  --font-size-lead            : var(--font-size-3);
  --font-size-superlead       : var(--font-size-4);
  --font-size-heading         : var(--font-size-5);
  --font-size-superheading    : var(--font-size-6);
  --font-size-hero            : var(--font-size-7);

  --font-family               : "Lato", sans-serif;
  --font-family-title         : var(--font-family);

  font-family                 : var(--font-family);
  font-size                   : var(--font-size-body);

  &.inverse { --bkg-dark: var(--color-primary-4); }
}
/* stylelint-enable */
