// ----------------------------------------------------------
// Theme: Grocery
// ----------------------------------------------------------

/* stylelint-disable */
.grocery {
  --font-family: "Roboto";
  font-family: var(--font-family);

  // Toggle
  // ----------------------------------------------------------

  [data-base-toggle] {
    --toggle-shadow                   : var(--box-shadow);
    --toggle-bkg-color                : #f1f2f3;
    --toggle-border-color             : #e3e6e8;
    --toggle-border-radius            : var(--border-radius-pill);
    --toggle-knob-bkg-color           : white;
    --toggle-knob-border-color        : #e3e6e8;
    --toggle-knob-shadow              : 0 2px 6px rgb(0 0 0 / 5%), 0 6px 12px rgb(0 0 0 / 5%), 0 10px 20px rgb(0 0 0 / 5%);
    --toggle-checked-bkg-color        : #506300;
    --toggle-checked-border-color     : #506300;
    --toggle-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --toggle-hover-bkg-color          : #f1f4e6;
    --toggle-hover-border-color       : white;
    --toggle-hover-knob-bkg-color     : white;
  }

  // Select
  // ----------------------------------------------------------

  [data-base-select] {
    --select-shadow                   : var(--box-shadow);
    --select-text-color               : #506300;
    --select-icon-color               : #506300;
    --select-border-radius            : var(--border-radius-pill);
    --select-border-color             : #e3e6e8;
    --select-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --select-hover-icon-color         : #506300;
    --select-hover-text-color         : #506300;
    --select-hover-bkg-color          : #f1f4e6;
    --select-hover-border-color       : white;
  }

  // Quantity Selector / Stepper
  // ----------------------------------------------------------

  [data-store-quantity-selector] {
    --qty-selector-height                   : calc(var(--min-size) + (var(--qty-selector-border-width) * 2));
    --qty-selector-shadow                   : var(--box-shadow);
    --qty-selector-bkg-color                : white;
    --qty-selector-text-color               : #506300;
    --qty-selector-icon-color               : #506300;
    --qty-selector-border-radius            : var(--border-radius-pill);
    --qty-selector-border-color             : #e3e6e8;
    --qty-selector-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --qty-selector-hover-button-bkg-color   : #f1f4e6;
  }

  // Badge
  // ----------------------------------------------------------

  [data-store-badge] {
    --badge-border-radius            : var(--border-radius-default);
    --badge-small-padding            : 2px var(--space-1);
    --badge-success-bkg-color        : #59ab30;
    --badge-success-text-color       : var(--color-text-inverse);
    --badge-success-border-color     : transparent;
    --badge-highlighted-bkg-color    : #9559e4;
    --badge-highlighted-text-color   : var(--color-text-inverse);
    --badge-highlighted-border-color : transparent;
    --badge-info-bkg-color           : #387bf8;
    --badge-info-text-color          : var(--color-text-inverse);
    --badge-info-border-color        : transparent;
    --badge-neutral-bkg-color        : #a8a8a8;
    --badge-neutral-text-color       : var(--color-text-inverse);
    --badge-neutral-border-color     : transparent;
  }

  // Button
  // ----------------------------------------------------------

  [data-store-button] {
    --button-border-radius                         : var(--border-radius-pill);
    --button-primary-bkg-color                     : #506300;
    --button-primary-text-color                    : var(--color-text-inverse);
    --button-primary-hover-bkg-color               : #688200;
    --button-primary-active-bkg-color              : #94A843;
    --button-primary-inverse-hover-bkg-color       : #f1f4e6;
    --button-primary-inverse-active-bkg-color      : #E0E8B4;
    --button-tertiary-text-color                   : #506300;
    --button-secondary-inverse-text-color          : #CCDC8B;
    --button-secondary-inverse-border-color        : #CCDC8B;
  }

  &.inverse { --bkg-dark: #66584A; }

  // Product Card
  // ----------------------------------------------------------

  [data-base-product-card] {
    --product-card-shadow                  : var(--box-shadow);
    --product-card-img-radius              : 6px;
    --product-card-text-title-color        : #688200;
    --product-card-text-title-weight       : bold;
    --product-card-border-radius           : 14px;
    --product-card-border-width            : 1px;
    --product-card-border-color            : #e3e6e8;
    --product-card-transition-timing       : .5s;
    --product-card-hover-shadow            : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --product-card-hover-bkg-color         : #f1f4e6;
    --product-card-hover-border-color      : white;
  }

  // Hero Section
  // ----------------------------------------------------------

  // Incentives
  // ----------------------------------------------------------

  // Banner
  // ----------------------------------------------------------
}
/* stylelint-enable */
