// Semantical Color Tokens ////////////////

:root {
  --color-emphasis: #8db6fa;
  --color-emphasis-transparent-80: #8db6fa80;
  --color-visited: #6058ba;

  --color-black-transparent-5: rgb(0 0 0 / 5%);
  --color-black-transparent-10: rgb(0 0 0 / 10%);
  --color-black-transparent-20: rgb(0 0 0 / 20%);
  --color-white-transparent-10: rgb(255 255 255 / 10%);
  --color-white-transparent-20: rgb(255 255 255 / 20%);

  // Text
  --color-link: var(--color-secondary-2);
  --color-link-visited: var(--color-visited);
  --color-link-inverse: var(--color-neutral-0);
  --color-text-disabled: var(--color-neutral-6);
  --color-text-display: var(--color-secondary-4);
  --color-text-subtle: var(--color-neutral-6);
  --color-text-success: var(--color-success-dark);

  // Backgrounds – Interations
  --bg-primary-default: var(--color-primary-3);
  --bg-primary-hover: var(--color-primary-2);
  --bg-primary-pressed: var(--color-primary-1);

  --bg-secondary-default: var(--color-secondary-4);
  --bg-secondary-hover: var(--color-secondary-3);
  --bg-secondary-pressed: var(--color-secondary-2);

  --bg-darken-hover: var(--color-black-transparent-5);
  --bg-darken-pressed: var(--color-black-transparent-10);

  --bg-lighten-hover: var(--color-white-transparent-10);
  --bg-lighten-pressed: var(--color-white-transparent-20);

  --bg-disabled: var(--color-neutral-2);
  --bg-focus-ring: var(--color-emphasis);
  --bg-selected-outline: var(--color-emphasis-transparent-80);
  --bg-skeleton-loading: var(--bg-disabled);

  // Backgrounds – Contextual
  --bg-success: var(--color-success);
  --bg-highlighted: var(--color-primary-0);
  --bg-info: var(--color-secondary-1);
  --bg-neutral: var(--color-neutral-1);
  --bg-warning: var(--color-warning);
  --bg-error: var(--color-error);

  // Backgrounds – Discount range
  --bg-discount-low: var(--bg-success);
  --bg-discount-medium: var(--bg-warning);
  --bg-discount-high: var(--bg-error);

  // Borders
  --color-border-light: var(--color-neutral-0);
  --color-border-display: var(--color-neutral-3);
  --color-border-input: var(--color-neutral-4);
  --color-border-input-selected: var(--color-secondary-2);
  --color-border-input-disabled: var(--color-neutral-6);
}
