// Semantical Color Tokens ////////////////

:root {
  --color-emphasis: #8db6fa;
  --color-visited: #6058ba;

  // Text
  --color-link: var(--color-secondary-2);
  --color-link-visited: var(--color-visited);
  --color-link-negative: var(--color-neutral-0);
  --color-text: var(--color-neutral-7);
  --color-text-negative: var(--color-neutral-0);

  // Backgrounds
  --bg-primary-light: var(--color-primary-0);
  --bg-secondary-light: var(--color-secondary-0);
  --bg-neutral-light: var(--color-neutral-1);
  --bg-neutral-lightest: var(--color-neutral-0);
  --bg-primary-default: var(--color-primary-3);
  --bg-primary-hover: var(--color-primary-2);
  --bg-primary-pressed: var(--color-primary-1);
  --bg-secondary-default: var(--color-secondary-4);
  --bg-secondary-hover: var(--color-secondary-3);
  --bg-secondary-pressed: var(--color-secondary-2);
  --bg-disabled: var(--color-neutral-2);
  --bg-focus-ring: var(--color-emphasis);
  --bg-selected-outline: var(--color-emphasis);
  --bg-success: var(--color-success);

  // Borders
  --color-border-display: var(--color-neutral-3);
  --color-border-input: var(--color-neutral-4);
  --color-border-input-disabled: var(--color-neutral-6);
}

// Default //////////////////////////

body { color: var(--color-text); }
