// Output functions & mixins
@import "scaffold";

// Resets //////////////////////////
@import "resets/modern-normalize";
@import "resets/reset";

// Styles ///////////////////////////
@import "typography";
@import "grid";
@import "spacing";

body {

  // Paddings
  --page-padding-phone: var(--space-3);
  --page-padding-notebook: var(--space-5);

  // Target Size
  --min-size: var(--space-7);

  // Box-Shadows ////////////////////
  --box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);
  --box-shadow-dark: 0 0 10px rgb(0 0 0 / 20%);

  // Grid ///////////////////////////

  // Gaps
  --grid-gap-0: var(--space-3);
  --grid-gap-1: var(--space-4);
  --grid-gap-2: var(--space-5);

  // Breakpoints
  --breakpoint-phone: 320px;
  --breakpoint-phonemid: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-notebook: 1280px;
  --breakpoint-desktop: 1440px;

  background-color: var(--color-body-bkg);
}
