// Font Import //////////////////////
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Styles ///////////////////////////
@import "typography";

// Tokens ///////////////////////////

:root {
  // Colors /////////////////////////

  // Brand
  --color-primary-0: #ebdcff;
  --color-primary-1: #8d50fd;
  --color-primary-2: #732fe2;
  --color-primary-3: #5900c8;

  --color-secondary-0: #ecf0ff;
  --color-secondary-1: #d8e2ff;
  --color-secondary-2: #00419e;
  --color-secondary-3: #002c71;
  --color-secondary-4: #001947;

  --color-neutral-0: #ffffff;
  --color-neutral-1: #f1f2f3;
  --color-neutral-2: #e3e6e8;
  --color-neutral-3: #c7ccd1;
  --color-neutral-4: #9099a2;
  --color-neutral-5: #74808b;
  --color-neutral-6: #5d666f;
  --color-neutral-7: #171a1c;

  --color-emphasis: #8db6fa;
  --color-visited: #6058ba;

  // Semantical Tokens – Text
  --color-link: var(--color-secondary-2);
  --color-link-visited: var(--color-visited);
  --color-link-negative: var(--color-neutral-0);

  --color-text: var(--color-neutral-6);
  --color-text-negative: var(--color-neutral-0);

  // Semantical Tokens – Backgrounds
  --bg-primary-light: var(--color-primary-0);
  --bg-secondary-light: var(--color-secondary-0);
  --bg-neutral-light: var(--color-neutral-1);
  --bg-neutral-lightest: var(--color-neutral-0);

  --bg-primary-default: var(--color-primary-3);
  --bg-primary-hover: var(--color-primary-2);
  --bg-primary-pressed: var(--color-primary-1);

  --bg-secondary-default: var(--color-secondary-4);
  --bg-secondary-hover: var(--color-secondary-3);
  --bg-secondary-pressed: var(--color-secondary-2);

  --bg-disabled: var(--color-neutral-2);
  --bg-focus-ring: var(--color-emphasis);
  --bg-seleted-outline: var(--color-emphasis);

  // Semantical Tokens – Borders
  --color-border-display: var(--color-neutral-3);
  --color-border-input: var(--color-neutral-4);
  --color-border-input-disabled: var(--color-neutral-6);


  // Typography /////////////////////

  // Family
  --sans-serif: 'Lato', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;

  // Base
  font-size: 16px;
  --base-font-size: 1rem;
  --scale: 1.25;

  // Sizes
  --text-size-1: calc(var(--text-size-2) * var(--scale));    // 61
  --text-size-2: calc(var(--text-size-3) * var(--scale));    // 48
  --text-size-3: calc(var(--text-size-4) * var(--scale));    // 39
  --text-size-4: calc(var(--text-size-5) * var(--scale));    // 31
  --text-size-5: calc(var(--text-size-6) * var(--scale));    // 25
  --text-size-6: calc(var(--base-font-size) * var(--scale)); // 20
  --text-size-7: var(--base-font-size);
  --text-size-8: 14px;
  --text-size-9: 12px;

  // Weight
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-weight-black: 900;


  // Spacing ////////////////////////

  // Sizes
  --space-0: .25rem; //  4px
  --space-1: .5rem;  //  8px
  --space-2: 1rem;   // 16px
  --space-3: 1.5rem; // 24px
  --space-4: 2rem;   // 32px
  --space-5: 2.5rem; // 40px
  --space-6: 3rem;   // 48px
  --space-7: 3.5rem; // 56px
  --space-8: 4rem;   // 64px

  // Semantical Tokens
  --space-xxs: var(--space-0);
  --space-xs:  var(--space-1);
  --space-sm:  var(--space-2);
  --space-md:  var(--space-3);
  --space-lg:  var(--space-4);
  --space-xl:  var(--space-5);
  --space-xxl: var(--space-6);
  --space-3xl: var(--space-7);
  --space-4xl: var(--space-8);


  // Borders ////////////////////////
  // Grid ///////////////////////////
}
