// Output functions & mixins
@import "scaffold";

// Resets //////////////////////////
@import "resets/modern-normalize";
@import "resets/reset";

// Styles ///////////////////////////
@import "typography";
@import "grid";

body {

  // Sizes
  --space-0: .25rem; //  4px
  --space-1: .5rem;  //  8px
  --space-2: .75rem; // 12px
  --space-3: 1rem;   // 16px
  --space-4: 1.5rem; // 24px
  --space-5: 2rem;   // 32px
  --space-6: 2.5rem; // 40px
  --space-7: 3rem;   // 48px
  --space-8: 3.5rem; // 56px
  --space-9: 4rem;   // 64px
  --space-10: 4.5rem; // 72px
  --space-11: 5rem;   // 80px
  --space-12: 5.5rem; // 88px
  --space-13: 6rem;   // 96px

  // Paddings
  --page-padding-phone: var(--space-3);
  --page-padding-notebook: var(--space-5);

  // Target Size
  --min-size: var(--space-7);

  // Box-Shadows ////////////////////
  --box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);
  --box-shadow-dark: 0 0 10px rgb(0 0 0 / 20%);

  // Grid ///////////////////////////

  // Gaps
  --grid-gap-0: var(--space-3);
  --grid-gap-1: var(--space-4);
  --grid-gap-2: var(--space-5);

  // Breakpoints
  --breakpoint-phone: 320px;
  --breakpoint-phonemid: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-notebook: 1280px;
  --breakpoint-desktop: 1440px;

  background-color: var(--color-body-bkg);
}
