// Default //////////////////////////

body {
  margin: 0;
  padding: 0;
}

.grid-section {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
  @media (min-width: var(--breakpoint-note-sm)) {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
  }
}

.grid-content-full {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  @media (min-width: var(--breakpoint-note-sm)) {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
  }
}

.grid-content {
  width: 100%;
  max-width: var(--breakpoint-note-md);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @media (min-width: var(--breakpoint-note-sm)) {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}
