// Default //////////////////////////

/* FIXME Remove this once grid page are styled properly */
.temp-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  li { margin: 4px; }
}

.pattern-library {
  height: 100%;
  padding: var(--space-7) 0 var(--space-5);
  background-color: var(--bg-neutral-light);

  .title-section.grid-content { margin-bottom: var(--space-5); }

  .grid-section {
    ul {
      padding: var(--space-3);
      list-style: none;
      background-color: var(--bg-neutral-lightest);
      border-radius: var(--border-radius-default);

      &:not(:last-child):not(:only-of-type) { margin-bottom: var(--space-3); }

      &.dark { background-color: var(--color-neutral-6); }

      &.list-horizontal {
        display: flex;
        gap: var(--space-2);
        align-items: center;
      }

      &.list-vertical li:not(:last-child) { margin-bottom: var(--space-2); }
    }
    > .title-subsection { margin-bottom: var(--space-1); }
  }

  .list-colors {
    li {
      display: flex;
      align-items: center;
    }
  }

  .square {
    width: var(--space-5);
    height: var(--space-5);
    margin-right: var(--space-1);
    border-radius: var(--border-radius-default);
    + span { margin-right: var(--space-2); }
  }

  .bg-success {
    background-color: var(--bg-success);
  }

  .bg-highlighted {
    background-color: var(--bg-highlighted);
  }

  .bg-info {
    background-color: var(--bg-info);
  }

  .bg-neutral {
    background-color: var(--bg-neutral);
  }

  .bg-warning {
    background-color: var(--bg-warning);
  }

  .bg-error {
    background-color: var(--bg-error);
  }
}

.tiles-section-item {
  margin-bottom: var(--space-4);

  [data-tile] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-0);

    &:nth-of-type(2n) { background-color: var(--color-secondary-1); }
  }
}

/* FIXME Remove this once we have another approach for SEO titles */
.temp-offscreen {
  position: absolute;
  top: -100px;
}

/* FIXME Remove this once we have a product gallery skeleton */
.temp-data-loading {
  min-height: 1400px;
  padding: var(--space-3);
  text-align: center;
}
