// Default //////////////////////////

/* FIXME Remove this once grid page are styled properly */
.temp-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  li { margin: 4px; }
}

.pattern-library {
  height: 100%;
  padding: var(--space-7) 0 var(--space-5);
  background-color: var(--bg-neutral-light);

  .title-section.grid-content { margin-bottom: var(--space-5); }

  .grid-section {
    ul {
      padding: var(--space-3);
      list-style: none;
      background-color: var(--bg-neutral-lightest);
      border-radius: var(--border-radius-default);

      &:not(:last-child):not(:only-of-type) { margin-bottom: var(--space-3); }

      &.dark { background-color: var(--color-neutral-6); }

      &.list-horizontal {
        display: flex;
        gap: var(--space-2);
        align-items: center;
      }

      &.list-vertical li:not(:last-child) { margin-bottom: var(--space-2); }
    }
    > .title-subsection { margin-bottom: var(--space-1); }
  }
}

/* FIXME Remove this once links and buttons are styled properly */
a, button[data-store-button] {
  display: inline-block;
  min-width: var(--min-size);
  min-height: var(--min-size);
  padding: var(--space-0) var(--space-1);
}

.tiles-section-item {
  margin-bottom: var(--space-4);

  [data-tile] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-0);

    &:nth-of-type(2n) { background-color: var(--color-secondary-1); }
  }
}

/* FIXME Remove this once we have another approach for SEO titles */
.temp-offscreen {
  position: absolute;
  top: -100px;
}
