// Default Spaces //////////////////////////

/* stylelint-disable */
body {
  --space-0           : .25rem; //  4px
  --space-1           : .5rem;  //  8px
  --space-2           : .75rem; // 12px
  --space-3           : 1rem;   // 16px
  --space-4           : 1.5rem; // 24px
  --space-5           : 2rem;   // 32px
  --space-6           : 2.5rem; // 40px
  --space-7           : 3rem;   // 48px
  --space-8           : 3.5rem; // 56px
  --space-9           : 4rem;   // 64px
  --space-10          : 4.5rem; // 72px
  --space-11          : 5rem;   // 80px
  --space-12          : 5.5rem; // 88px
  --space-13          : 6rem;   // 96px
}
/* stylelint-enable */
