// Output functions & mixins
@import "scaffold";

// Resets //////////////////////////
@import "resets/modern-normalize";
@import "resets/reset";

// Styles ///////////////////////////
@import "colors";
@import "typography";
@import "grid";

// Tokens ///////////////////////////

:root {
  // Colors /////////////////////////

  // Brand
  --color-primary-0: #ebdcff;
  --color-primary-1: #8d50fd;
  --color-primary-2: #732fe2;
  --color-primary-3: #5900c8;
  --color-secondary-0: #ecf0ff;
  --color-secondary-1: #d8e2ff;
  --color-secondary-2: #00419e;
  --color-secondary-3: #002c71;
  --color-secondary-4: #001947;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f1f2f3;
  --color-neutral-2: #e3e6e8;
  --color-neutral-3: #c7ccd1;
  --color-neutral-4: #9099a2;
  --color-neutral-5: #74808b;
  --color-neutral-6: #5d666f;
  --color-neutral-7: #171a1c;

  // State
  --color-success: #cee8de;
  --color-success-dark: #368369;
  --color-warning: #f6e0ba;
  --color-error: #fee1e1;

  // Customizable
  --color-text: var(--color-neutral-7);
  --color-text-inverse: var(--color-neutral-0);

  --bg-body: var(--color-neutral-0);
  --bg-primary-light: var(--color-primary-0);
  --bg-secondary-light: var(--color-secondary-0);
  --bg-neutral-light: var(--color-neutral-1);
  --bg-neutral-lightest: var(--color-neutral-0);
  --bg-secondary-dark: var(--color-secondary-4);

  // Typography /////////////////////

  // Family
  --sans-serif: "Lato", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;

  // Base
  --base-font-size: 16px;
  --scale: 1.25;

  // Spacing ////////////////////////

  // Sizes
  --space-0: .25rem;  //  4px
  --space-1: .5rem;   //  8px
  --space-2: .75rem;  // 12px
  --space-3: 1rem;    // 16px
  --space-4: 1.5rem;  // 24px
  --space-5: 2rem;    // 32px
  --space-6: 2.5rem;  // 40px
  --space-7: 3rem;    // 48px
  --space-8: 3.5rem;  // 56px
  --space-9: 4rem;    // 64px
  --space-10: 4.5rem; // 72px
  --space-11: 5rem;   // 80px
  --space-12: 5.5rem; // 88px
  --space-13: 6rem;   // 96px

  // Paddings
  --page-padding-phone: var(--space-3);
  --page-padding-tablet: var(--space-4);
  --page-padding-notebook: var(--space-5);

  // Target Size
  --tap-min-size: 48px;

  // Box-Shadows ////////////////////
  --box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);
  --box-shadow-dark: 0 0 10px rgb(0 0 0 / 20%);

  // Border /////////////////////////

  --border-radius-flat: 0;
  --border-radius-small: .125rem;
  --border-radius-regular: .25rem;
  --border-radius-pill: 100px;
  --border-radius-circle: 100%;

  --border-radius-default: var(--border-radius-regular);
  --border-radius-button: var(--border-radius-regular);

  // Width
  --border-width-0: 1px;
  --border-width-1: 2px;
  --border-width-2: 3px;

  // Grid ///////////////////////////

  // Gaps
  --grid-gap-0: var(--space-3);
  --grid-gap-1: var(--space-4);
  --grid-gap-2: var(--space-5);

  // Breakpoints
  --breakpoint-phone: 320px;
  --breakpoint-phonemid: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-notebook: 1280px;
  --breakpoint-desktop: 1440px;
}

// Avoids double scroll issue on the page when overlay is open
#layout.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.display-mobile {
  @include media(">=notebook") {
    display: none;
  }
}

.hidden-mobile {
  @include media("<notebook") {
    display: none;
  }
}
