// Default //////////////////////////

@import "vendors/include-media";

:root {
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

.theming-poc {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 48px 0;

  hr {
    width: 100%;
    margin: 0;
    border-top: 1px solid var(--color-border-display);
  }
}

.theming-poc-content {
  display: flex;
  gap: 48px;
  align-content: flex-start;
  align-items: stretch;
  justify-content: center;

  aside > h3 {
    margin-bottom: 24px;
    font-weight: bold;
  }

  code { display: block; }

  main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.theming-toggle > main > div {
  &:nth-child(2) {
    --toggle-bkg-color-active: darkseagreen;
    --toggle-bkg-color: transparent;
    --toggle-border-color-active: var(--toggle-border-color);
    --toggle-border-color: black;
    --toggle-border-radius: 0;
    --toggle-border-style: solid;
    --toggle-border-width: 1px;
    --toggle-height-desk: 30px;
    --toggle-height-mob: 48px;
    --toggle-height: var(--toggle-height-mob);
    --toggle-knob-border-color-active: var(--toggle-knob-border-color);
    --toggle-knob-border-color: black;
    --toggle-knob-color-active: var(--toggle-knob-color);
    --toggle-knob-color: black;
  }

  &:nth-child(3) {
    --toggle-bkg-color-active: var(--bg-success);
    --toggle-bkg-color: var(--bg-neutral-lightest);
    --toggle-border-radius: var(--border-radius-pill);
    --toggle-border-color-active: var(--color-success);
    --toggle-border-color: var(--color-border-input);
    --toggle-knob-border-color-active: var(--toggle-knob-border-color);
    --toggle-knob-border-color: var(--color-border-input);
    --toggle-knob-color-active: var(--toggle-knob-color);
    --toggle-knob-color: var(--bg-neutral-lightest);
    --toggle-knob-radius: var(--border-radius-pill);
    --toggle-knob-shadow: var(--box-shadow);
  }

  &:nth-child(4) {
    --toggle-border-color: var(--color-neutral-3);
    --toggle-border-radius: var(--border-radius-default);
    --toggle-border-color-active: var(--bg-primary-defaultt);
    --toggle-bkg-color-active: var(--bg-primary-default);
    --toggle-bkg-color: var(--bg-neutral-lightest);
    --toggle-height-desk: 38px;
    --toggle-knob-border-color: var(--color-neutral-3);
    --toggle-knob-color-active: var(--toggle-knob-color);
    --toggle-knob-color: var(--bg-neutral-lightest);
    --toggle-knob-radius: var(--border-radius-default);
    --toggle-knob-shadow: var(--box-shadow);
  }

  &:nth-child(5) {
    --toggle-bkg-color-active: darkgreen;
    --toggle-bkg-color: var(--color-neutral-3);
    --toggle-border-color-active: darkgreen;
    --toggle-border-color: var(--color-neutral-3);
    --toggle-border-radius: var(--border-radius-pill);
    --toggle-border-width: 2px;
    --toggle-knob-border-color-active: darkgreen;
    --toggle-knob-border-color: var(--color-neutral-3);
    --toggle-knob-color-active: var(--toggle-knob-color);
    --toggle-knob-color: var(--bg-neutral-lightest);
    --toggle-knob-radius: var(--border-radius-circle);
    --toggle-knob-shadow: none;
  }
}
