// Default //////////////////////////

@import "vendors/include-media";

:root {
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

.theming-poc {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  min-width: 1280px;
  min-height: 100vh;
  padding: 48px 0;

  hr {
    width: 100%;
    margin: 0;
    border-top: 1px solid var(--color-border-display);
  }
}

.theming-poc-content {
  display: flex;
  gap: 48px;
  align-content: flex-start;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 0 96px;

  code {
    display: block;
    font-size: .9rem;
  }

  > * > h3 { font-weight: bold; }

  > section { flex-basis: 20%; }
  > main { flex-basis: 80%; }

  > main, > section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.theming-poc-list {
  display: flex;
  align-items: center;
  column-gap: 8px;
  > * { flex-shrink: 0; }
}

.theming-product-card {
  flex-direction: column;

  .theming-poc-list {
    justify-content: space-between;
    width: 100%;
    column-gap: 24px;
  }
}

/* stylelint-disable */
.theming-toggle > main [data-base-toggle] {
  &:nth-child(2) {
    --toggle-height                   : calc(var(--min-size) - 6px);
    --toggle-border-width             : 2px;
    --toggle-content                  : "🤙";
    --toggle-bkg-color                : var(--bg-primary-light);
    --toggle-border-color             : var(--bg-primary-light);
    --toggle-border-radius            : var(--border-radius-flat);
    --toggle-knob-bkg-color           : var(--bg-neutral-lightest);
    --toggle-knob-border-color        : var(--color-neutral-3);
    --toggle-checked-bkg-color        : var(--bg-primary-default);
    --toggle-checked-border-color     : var(--bg-primary-default);
    --toggle-checked-knob-color       : var(--toggle-knob-bkg-color);
    --toggle-hover-shadow             : none;
    --toggle-hover-border-color       : var(--bg-primary-default);
    --toggle-hover-knob-bkg-color     : var(--bg-neutral-lightest);
  }

  &:nth-child(3) {
    --toggle-bkg-color                : var(--color-neutral-3);
    --toggle-border-color             : var(--color-neutral-3);
    --toggle-border-radius            : var(--border-radius-default);
    --toggle-border-width             : 2px;
    --toggle-knob-bkg-color           : var(--bg-neutral-lightest);
    --toggle-knob-border-color        : var(--color-neutral-3);
    --toggle-knob-radius              : var(--border-radius-circle);
    --toggle-knob-shadow              : none;
    --toggle-checked-bkg-color        : var(--color-border-input-selected);
    --toggle-checked-knob-border-color: var(--color-border-input-selected);
    --toggle-hover-border-color       : var(--color-border-input-selected);
    --toggle-hover-shadow             : none;
    --toggle-hover-bkg-color          : var(--bg-secondary-light);
    --toggle-hover-knob-border-color          : var(--bg-secondary-light);
  }

  &:nth-child(4) {
    --toggle-shadow                   : var(--box-shadow);
    --toggle-bkg-color                : var(--color-neutral-1);
    --toggle-border-color             : var(--color-neutral-2);
    --toggle-border-radius            : var(--border-radius-pill);
    --toggle-knob-bkg-color           : var(--bg-neutral-lightest);
    --toggle-knob-border-color        : var(--color-neutral-2);
    --toggle-knob-shadow              : 0 2px 6px rgb(0 0 0 / 5%), 0 6px 12px rgb(0 0 0 / 5%), 0 10px 20px rgb(0 0 0 / 5%);
    --toggle-checked-bkg-color        : #506300;
    --toggle-checked-border-color     : #506300;
    --toggle-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --toggle-hover-bkg-color          : #F1F4E6;
    --toggle-hover-border-color       : var(--bg-neutral-lightest);
    --toggle-hover-knob-bkg-color     : var(--bg-neutral-lightest);
  }
}

.theming-select main [data-base-select] {
  &:nth-child(2) {
    --select-height                   : calc(var(--min-size) - 4px);
    --select-width                    : 7rem;
    --select-text-color               : var(--bg-primary-default);
    --select-icon-color               : var(--bg-primary-default);
    --select-bkg-color                : var(--bg-primary-light);
    --select-border-radius            : var(--border-radius-flat);
    --select-border-width             : 2px;
    --select-border-color             : var(--bg-primary-light);
    --select-hover-shadow             : none;
    --select-hover-bkg-color          : var(--bg-primary-light);
    --select-hover-border-color       : var(--bg-primary-default);
  }
  &:nth-child(3) {
    --select-icon-color               : var(--color-border-input-selected);
    --select-border-radius            : var(--border-radius-default);
    --select-border-color             : var(--color-neutral-3);
    --select-border-width             : 2px;
    --select-hover-shadow             : none;
    --select-hover-bkg-color          : var(--bg-secondary-light);
    --select-hover-border-color       : var(--color-border-input-selected);
  }
  &:nth-child(4) {
    --select-shadow                   : var(--box-shadow);
    --select-text-color               : #506300;
    --select-icon-color               : #506300;
    --select-border-radius            : var(--border-radius-pill);
    --select-border-color             : var(--color-neutral-2);
    --select-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --select-hover-icon-color         : #506300;
    --select-hover-text-color         : #506300;
    --select-hover-bkg-color          : #F1F4E6;
    --select-hover-border-color       : var(--bg-neutral-lightest);
  }
}

.theming-quantity-selector main [data-store-quantity-selector] {
  &:nth-child(2) {
    --qty-selector-height                   : calc(var(--min-size) + 10px);
    --qty-selector-width                    : 9rem;
    --qty-selector-bkg-color                : var(--bg-primary-light);
    --qty-selector-text-color               : var(--bg-primary-default);
    --qty-selector-icon-color               : var(--bg-primary-default);
    --qty-selector-border-radius            : var(--border-radius-flat);
    --qty-selector-border-width             : 2px;
    --qty-selector-border-color             : var(--bg-primary-light);
    --qty-selector-hover-shadow             : none;
    --qty-selector-hover-button-bkg-color   : var(--bg-neutral-lightest);
    --qty-selector-hover-border-color       : var(--bg-primary-default);
  }
  &:nth-child(3) {
    --qty-selector-icon-color               : var(--color-border-input-selected);
    --qty-selector-border-radius            : var(--border-radius-default);
    --qty-selector-border-color             : var(--color-neutral-3);
    --qty-selector-border-width             : 2px;
    --qty-selector-hover-shadow             : none;
    --qty-selector-hover-text-color         : var(--qty-selector-text-color);
    --qty-selector-hover-border-color       : var(--color-border-input-selected);
    --qty-selector-hover-button-bkg-color   : var(--bg-secondary-light);
  }
  &:nth-child(4) {
    --qty-selector-height                   : calc(var(--min-size) + (var(--qty-selector-border-width) * 2));
    --qty-selector-shadow                   : var(--box-shadow);
    --qty-selector-bkg-color                : var(--bg-neutral-lightest);
    --qty-selector-text-color               : #506300;
    --qty-selector-icon-color               : #506300;
    --qty-selector-border-radius            : var(--border-radius-pill);
    --qty-selector-border-color             : var(--color-neutral-2);
    --qty-selector-hover-shadow             : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --qty-selector-hover-button-bkg-color   : #F1F4E6;
  }
}

.theming-badge main .theming-poc-list {
  &:nth-child(3) {
    [data-store-badge] {
      --badge-border-width             : 3px;
      --badge-border-radius            : var(--border-radius-pill);
      --badge-success-bkg-color        : transparent;
      --badge-success-text-color       : #2c6a52;
      --badge-success-border-color     : #2c6a52;
      --badge-highlighted-bkg-color    : transparent;
      --badge-highlighted-text-color   : #765c99;
      --badge-highlighted-border-color : #765c99;
      --badge-info-bkg-color           : transparent;
      --badge-info-text-color          : #2d499e;
      --badge-info-border-color        : #2d499e;
      --badge-neutral-bkg-color        : transparent;
      --badge-neutral-text-color       : #7b7f83;
      --badge-neutral-border-color     : #7b7f83;
      --badge-promo-bkg-color          : transparent;
      --badge-promo-border-color       : #FFF68A;
    }
  }

  &:nth-child(4) {
    [data-store-badge] {
      --badge-border-radius            : var(--border-radius-default);
      --badge-small-padding            : 2px var(--space-1);
      --badge-success-bkg-color        : #59ab30;
      --badge-success-text-color       : var(--color-text-inverse);
      --badge-success-border-color     : transparent;
      --badge-highlighted-bkg-color    : #9559e4;
      --badge-highlighted-text-color   : var(--color-text-inverse);
      --badge-highlighted-border-color : transparent;
      --badge-info-bkg-color           : #387bf8;
      --badge-info-text-color          : var(--color-text-inverse);
      --badge-info-border-color        : transparent;
      --badge-neutral-bkg-color        : #a8a8a8;
      --badge-neutral-text-color       : var(--color-text-inverse);
      --badge-neutral-border-color     : transparent;
    }
  }
}

.theming-button main {
  .theme-button-1 {
    [data-store-button] {
      --button-border-radius                    : var(--border-radius-flat);
      --button-primary-bkg-color                : var(--bg-primary-default);
      --button-primary-text-color               : var(--color-text-inverse);
      --button-primary-hover-bkg-color          : var(--bg-primary-hover);
      --button-primary-active-bkg-color         : var(--bg-primary-pressed);
      --button-primary-inverse-hover-bkg-color  : var(--bg-primary-light);
      --button-primary-inverse-active-bkg-color : #e2cffc;

      --button-secondary-bkg-color              : var(--bg-primary-light);
      --button-secondary-border-color           : transparent;

      --button-secondary-inverse-bkg-color      : var(--bg-primary-hover);
      --button-secondary-inverse-border-color   : transparent;

      --button-tertiary-text-color              : var(--bg-primary-default);
      --button-tertiary-inverse-hover-bkg-color : var(--bg-primary-hover);
    }

    .-inverse { --bg-body: #001947; }
  }

  .theme-button-2 {
    [data-store-button] {
      --button-border-radius                   : var(--border-radius-default);
      --button-primary-bkg-color               : var(--bg-secondary-default);
      --button-primary-text-color              : var(--color-text-inverse);
      --button-primary-hover-bkg-color         : var(--bg-secondary-hover);
      --button-primary-active-bkg-color        : var(--bg-secondary-pressed);
      --button-primary-inverse-hover-bkg-color : var(--color-secondary-0);
      --button-primary-inverse-active-bkg-color: var(--color-secondary-1);
      --button-tertiary-text-color             : var(--color-link);
    }

    .-inverse { --bg-body: #001947; }
  }

  .theme-button-3 {
    [data-store-button] {
      --button-border-radius                   : var(--border-radius-pill);
      --button-primary-bkg-color               : #506300;
      --button-primary-text-color              : var(--color-text-inverse);
      --button-primary-hover-bkg-color         : #688200;
      --button-primary-active-bkg-color        : #94A843;
      --button-primary-inverse-hover-bkg-color : #F1F4E6;
      --button-primary-inverse-active-bkg-color: #E0E8B4;
      --button-tertiary-text-color             : #506300;
      --button-secondary-inverse-text-color    : #CCDC8B;
      --button-secondary-inverse-border-color  : #CCDC8B;
    }

    .-inverse { --bg-body: #001947; }
  }
}

.theming-product-card main [data-store-card] {
  &:nth-child(1) {
    --product-card-shadow                  : var(--box-shadow);
    --product-card-img-radius              : 6px;
    --product-card-text-title-color        : #688200;
    --product-card-text-title-weight       : bold;
    --product-card-border-radius           : 14px;
    --product-card-border-width            : 1px;
    --product-card-border-color            : var(--color-neutral-2);
    --product-card-transition-timing       : .5s;
    --product-card-hover-shadow            : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
    --product-card-hover-bkg-color         : #F1F4E6;
    --product-card-hover-border-color      : var(--bg-neutral-lightest);

    [data-store-quantity-selector] {
      --qty-selector-height                : calc(var(--min-size) + (var(--qty-selector-border-width) * 2));
      --qty-selector-shadow                : var(--box-shadow);
      --qty-selector-bkg-color             : var(--bg-neutral-lightest);
      --qty-selector-text-color            : #506300;
      --qty-selector-icon-color            : #506300;
      --qty-selector-border-radius         : var(--border-radius-pill);
      --qty-selector-border-color          : var(--color-neutral-2);
      --qty-selector-hover-shadow          : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
      --qty-selector-hover-button-bkg-color: #F1F4E6;
    }

    [data-base-select] {
      --select-shadow                      : var(--box-shadow);
      --select-text-color                  : #506300;
      --select-icon-color                  : #506300;
      --select-border-radius               : var(--border-radius-pill);
      --select-border-color                : var(--color-neutral-2);
      --select-hover-shadow                : 0 2px 6px rgb(0 0 0 / 10%), 0 6px 12px rgb(0 0 0 / 10%), 0 10px 20px rgb(0 0 0 / 10%);
      --select-hover-icon-color            : #506300;
      --select-hover-text-color            : #506300;
      --select-hover-bkg-color             : #F1F4E6;
      --select-hover-border-color          : var(--bg-neutral-lightest);
    }

    [data-store-badge] {
      --badge-border-radius                : var(--border-radius-default);
      --badge-small-padding                : 2px var(--space-1);
    }
  }

  &:nth-child(2) {
    --product-card-bkg-color               : var(--bg-primary-light);
    --product-card-text-title-color        : var(--bg-primary-default);
    --product-card-text-price-color        : var(--bg-primary-default);
    --product-card-border-width            : 0;
    --product-card-transition-timing       : .5s;
    --product-card-hover-shadow            : 0 0 0 3px var(--bg-primary-default);
    --product-card-hover-bkg-color         : var(--product-card-bkg-color);

    [data-store-badge] {
      --badge-border-width                 : 3px;
      --badge-border-radius                : var(--border-radius-pill);
      --badge-highlighted-bkg-color        : transparent;
      --badge-highlighted-text-color       : var(--bg-primary-default);
      --badge-highlighted-border-color     : var(--bg-primary-default);
    }
  }
}

/* stylelint-enable */
