// Default //////////////////////////

@import "vendors/include-media";

.theming-poc-custom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
}

/* stylelint-disable */

// Theme: Base Store
// ----------------------------------------------------------

.base-store {
  // Color palette
  --color-neutral-0           : #f1f2f3;
  --color-neutral-1           : #c7ccd1;
  --color-neutral-2           : #9099a2;
  --color-neutral-3           : #171a1c;
  --color-neutral-4           : #000;

  --color-primary-0           : #ecf0ff;
  --color-primary-1           : #d8e2ff;
  --color-primary-2           : #00419e;
  --color-primary-3           : #002c71;
  --color-primary-4           : #001947;

  // Semantic colors
  --color-interactive         : var(--color-primary-2);
  --color-link                : var(--color-interactive);
  --color-text                : var(--color-neutral-3);
  --color-text-inverse        : white;
  --color-body-bkg            : white;
  --color-focus-ring          : #8db6fa;

  --color-success-bkg         : #cee8de;
  --color-success-text        : var(--text-color);

  --color-highlighted-bkg     : #ebdcff;
  --color-highlighted-text    : var(--text-color);

  --color-info-bkg            : var(--color-primary-0);
  --color-info-text           : var(--text-color);

  --color-neutral-bkg         : var(--color-neutral-0);
  --color-neutral-text        : var(--text-color);

  --color-promo-bkg           : #fff68a;
  --color-promo-text          : #f2636a;

  --color-primary-bkg         : var(--color-primary-4);
  --color-primary-bkg-hover   : var(--color-primary-3);
  --color-primary-bkg-active  : var(--color-primary-2);
  --color-primary-text        : var(--bkg-body)

  --color-secondary-bkg       : var(--bkg-body);
  --color-secondary-bkg-hover : var(--color-primary-0);
  --color-secondary-bkg-active: var(--color-primary-1);
  --color-secondary-text      : var(--color-primary-3);

  --color-tertiary-bkg        : var(--bkg-body);
  --color-tertiary-bkg-hover  : var(--color-secondary-bkg-hover);
  --color-tertiary-bkg-active : var(--color-secondary-bkg-active);
  --color-tertiary-text       : var(--text-color-link);

  // Components properties
  --min-size                  : 48px;

  --border-radius             : 4px;
  --border-radius-circle      : 100%;
  --border-color-input        : var(--color-neutral-2);
  --border-color-input-hover  : var(--color-primary-4);
  --border-color-card         : var(--color-neutral-1);
  --border-width-input        : 2px;
  --border-width-card         : 1px;

  // Interactive properties
  --transition-timing         : .2s;
  --transition-property       : all;
  --transition-function       : ease-in-out;

  --shadow                    : none;
  --shadow-hover              : 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);

  // Typography
  --font-family               : "Lato";
  font-family                 : var(--font-family);
}

/* stylelint-enable */
