// Styles ///////////////////////////
@import "colors";

// Tokens ///////////////////////////

:root {
  // Colors /////////////////////////

  // Brand
  --color-primary-0: #ebdcff;
  --color-primary-1: #8d50fd;
  --color-primary-2: #732fe2;
  --color-primary-3: #5900c8;
  --color-secondary-0: #ecf0ff;
  --color-secondary-1: #d8e2ff;
  --color-secondary-2: #00419e;
  --color-secondary-3: #002c71;
  --color-secondary-4: #001947;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f1f2f3;
  --color-neutral-2: #e3e6e8;
  --color-neutral-3: #c7ccd1;
  --color-neutral-4: #9099a2;
  --color-neutral-5: #74808b;
  --color-neutral-6: #5d666f;
  --color-neutral-7: #171a1c;

  // State
  --color-success: #cee8de;
  --color-success-dark: #368369;
  --color-warning: #f6e0ba;
  --color-error: #fee1e1;

  // Customizable
  --color-text: var(--color-neutral-7);
  --color-text-inverse: var(--color-neutral-0);

  --bg-body: var(--color-neutral-0);
  --bg-primary-light: var(--color-primary-0);
  --bg-secondary-light: var(--color-secondary-0);
  --bg-neutral-light: var(--color-neutral-1);
  --bg-neutral-lightest: var(--color-neutral-0);
  --bg-secondary-dark: var(--color-secondary-4);
}
