// Default //////////////////////////

@import "vendors/include-media";

:root {
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

.theming-poc-custom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
}

/* stylelint-disable */
.theme-1 {
  --color-neutral-light      : #fff;
  --color-neutral            : #c7ccd1;
  --color-neutral-dark       : #7b7f83;

  --color-primary-light      : #ebdcff;
  --color-primary            : #8d50fd;
  --color-primary-dark       : #732fe2;
  --color-primary-darker     : #5900c8;

  --color-success            : #2c6a52;
  --color-highlighted        : var(--color-primary-darker);
  --color-info               : #2d499e;
  --color-promo              : #FFF68A;

  --bkg-neutral-light        : var(--color-neutral-light);
  --bkg-neutral              : var(--color-neutral);
  --bkg-primary-light        : var(--color-primary-light);
  --bkg-primary              : var(--color-primary);
  --bkg-primary-dark         : var(--color-primary-dark);
  --bkg-primary-darker       : var(--color-primary-darker);

  --border-radius            : 0;
  --border-width             : 2px;
  --shadow                   : none;
  --text-color               : var(--color-primary-darker);
  --shadow-hover             : none;
}

.base-store {
  --color-neutral-0         : #fff;
  --color-neutral-1         : #c7ccd1;
  --color-neutral-2         : #9099a2;
  --color-neutral-3         : #171a1c;
  --color-neutral-4         : #000;

  --color-primary-0         : #ecf0ff;
  --color-primary-1         : #d8e2ff;
  --color-primary-2         : #00419e;
  --color-primary-3         : #002c71;
  --color-primary-4         : #001947;

  --transition-timing       : .3s;
  --transition-property     : all;
  --transition-function     : ease-in-out;

  --interactive             : var(--color-primary-2);
  --link                    : var(--interactive);
  --text                    : var(--color-neutral-3);
  --text-inverse            : var(--color-neutral-0);

  --body-bkg                : var(--color-neutral-0);

  --success-bkg             : #cee8de;
  --success-text            : var(--text-color);

  --highlighted-bkg         : #ebdcff;
  --highlighted-text        : var(--text-color);

  --info-bkg                : var(--color-primary-0);
  --info-text               : var(--text-color);

  --neutral-bkg             : var(--color-neutral-1);
  --neutral-text            : var(--text-color);

  --promo-bkg               : #fff68a;
  --promo-text              : #f2636a;


  --primary-bkg             : var(--color-primary-4);
  --primary-bkg-hover       : var(--color-primary-3);
  --primary-bkg-active      : var(--color-primary-2);
  --primary-text            : var(--bkg-body)

  --secondary-bkg           : var(--bkg-body);
  --secondary-bkg-hover     : var(--color-primary-0);
  --secondary-bkg-active    : var(--color-primary-1);
  --secondary-text          : var(--color-primary-3);

  --tertiary-bkg            : var(--bkg-body);
  --tertiary-bkg-hover      : var(--secondary-bkg-hover);
  --tertiary-bkg-active     : var(--secondary-bkg-active);
  --tertiary-text           : var(--text-color-link);


  --border-radius           : 4px;
  --border-radius-circle    : 100%;
  --border-color-input      : var(--color-neutral-2);
  --border-color-input-hover: var(--color-primary-4);
  --border-color-card       : var(--color-neutral-1);
  --border-width-input      : 2px;
  --border-width-card       : 1px;

  --shadow                  : none;
  --shadow-hover            : 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);

  --focus-ring-color        : #8db6fa;
}
