// Default //////////////////////////

@import "vendors/include-media";

:root {
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

.theming-poc-custom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
}

/* stylelint-disable */
.theme-1 {
  --color-neutral-light      : #fff;
  --color-neutral            : #c7ccd1;
  --color-neutral-dark       : #7b7f83;

  --color-primary-light      : #ebdcff;
  --color-primary            : #020202;
  --color-primary-dark       : #732fe2;
  --color-primary-darker     : #5900c8;

  --color-success            : #2c6a52;
  --color-highlighted        : var(--color-primary-darker);
  --color-info               : #2d499e;
  --color-promo              : #FFF68A;

  --bkg-neutral-light        : var(--color-neutral-light);
  --bkg-neutral              : var(--color-neutral);
  --bkg-primary-light        : var(--color-primary-light);
  --bkg-primary              : var(--color-primary);
  --bkg-primary-dark         : var(--color-primary-dark);
  --bkg-primary-darker       : var(--color-primary-darker);

  --border-radius            : 0;
  --border-width             : 2px;
  --shadow                   : none;
  --text-color               : var(--color-primary-darker);
  --shadow-hover             : none;
}
