// Default //////////////////////////

body {
  --type-scale-mobile: 1.15;
  --type-scale-desk: 1.25;
  --type-scale: var(--type-scale-mobile);

  @include media(">=notebook") {
    --type-scale: var(--type-scale-desk);
  }

  // Base size = 1rem
  --font-size-base: 16px;

  // By size
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: var(--font-size-base);
  --font-size-3: calc(var(--font-size-2) * var(--type-scale));
  --font-size-4: calc(var(--font-size-3) * var(--type-scale));
  --font-size-5: calc(var(--font-size-4) * var(--type-scale));
  --font-size-6: calc(var(--font-size-5) * var(--type-scale));
  --font-size-7: calc(var(--font-size-6) * var(--type-scale));
  --font-size-8: calc(var(--font-size-7) * var(--type-scale));

  // By role
  --font-size-tiny: var(--font-size-0);
  --font-size-small: var(--font-size-1);
  --font-size-body: var(--font-size-base);
  --font-size-lead: var(--font-size-3);
  --font-size-superlead: var(--font-size-4);
  --font-size-heading: var(--font-size-5);
  --font-size-superheading: var(--font-size-6);
  --font-size-hero: var(--font-size-7);

  --font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-family-title: var(--font-family);

  // Weight
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-weight-black: 900;

  font-size: var(--font-size-body);
  font-family: var(--font-family);
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 { font-family: var(--font-family-title); }

h2 {
  font-weight: var(--text-weight-bold);
  font-size: var(--font-size-heading);
  line-height: 1.16;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}
