// Mixins & functions utilities  //////////////////////////

/* SQ-DISABLE */
@use "sass:math";

/* SQ-ENABLE */

// Px to rem.
$base: 16px !default;

@function rem($size) {
  $rem: math.div($size, $base);

  @return #{$rem}rem;
}

@mixin button-focus-ring {
  outline: 2px solid var(--bg-focus-ring);
  outline-offset: 1px;
}

// Supports safari browsers
@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 1px var(--bg-neutral-lightest), 0 0 0 var(--border-width-3) var(--bg-focus-ring);
}
