// Mixins & functions utilities  //////////////////////////

/* SQ-DISABLE */
@use "sass:math";

/* SQ-ENABLE */

// Px to rem.
$base: 16px !default;

@function rem($size) {
  $rem: math.div($size, $base);

  @return #{$rem}rem;
}

@mixin input-focus-ring {
  @media not all and (min-resolution: .001dpcm) { // Target only Safari browsers
    @supports (-webkit-appearance:none) {         // Use `focus` instead of `focus-visible`
      &:hover:focus,
      &:focus {                                   // due to Safari's lack of support
        border-color: var(--color-border-input-selected);
        outline: none;
        box-shadow:
          0 0 0 1px var(--bg-body),
          0 0 0 var(--border-width-2) var(--bg-focus-ring),
          inset 0 0 0 var(--border-width-0) var(--color-border-input-selected);
      }
    }
  }

  &:focus-visible,
  &:hover:focus-visible {
    border-color: var(--color-border-input-selected);
    outline: none;
    box-shadow:
      0 0 0 1px var(--bg-body),
      0 0 0 var(--border-width-2) var(--bg-focus-ring),
      inset 0 0 0 var(--border-width-0) var(--color-border-input-selected);
  }
}

@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 1px var(--bg-body), 0 0 0 var(--border-width-2) var(--bg-focus-ring);
}

@mixin focus-ring-visible {
  @media not all and (min-resolution: .001dpcm) { // Target only Safari browsers
    @supports (-webkit-appearance:none) {        // Use `focus` instead of `focus-visible`
      &:focus { @include focus-ring; }           // due to Safari's lack of support
    }
  }
  &:focus-visible { @include focus-ring; }
}
