// Mixins & functions utilities  //////////////////////////

/* SQ-DISABLE */
@use "sass:math";

/* SQ-ENABLE */

// Px to rem.
$base: 16px !default;

@function rem($size) {
  $rem: math.div($size, $base);

  @return #{$rem}rem;
}

@mixin button-focus-ring {
  outline: none;
  box-shadow: 0 0 0 1px var(--bg-neutral-lightest), 0 0 0 var(--border-width-2) var(--bg-focus-ring);
}

@mixin input-focus-ring {
  border-color: var(--color-border-input-selected);
  outline: none;
  box-shadow:
    0 0 0 1px var(--bg-neutral-lightest),
    0 0 0 var(--border-width-2) var(--bg-focus-ring),
    inset 0 0 0 var(--border-width-0) var(--color-border-input-selected);
}

// Supports safari browsers
@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 1px var(--bg-neutral-lightest), 0 0 0 var(--border-width-2) var(--bg-focus-ring);
}
