@import "src/styles/scaffold";

.suggestions__title {
  margin-bottom: var(--space-1);
  font-size: var(--text-size-3);
  line-height: 1.5;
}

.suggestions__section {
  padding: var(--space-2) var(--space-3) var(--space-2);
  background-color: var(--bg-neutral-lightest);

  &:not(:last-child) {
    border-bottom: var(--border-width-0) solid var(--color-border-display);
  }
}

[data-store-suggestions-top-search] {
  ol {
    margin-top: var(--space-1);
  }

  li {
    font-size: var(--text-size-2);
    line-height: 1.25;

    [data-store-link] {
      display: inline-flex;
      align-items: center;
    }

    [data-store-badge] {
      margin-right: var(--space-1);
    }
  }
}

[data-store-suggestions] {
  .suggestions__suggestion {
    color: var(--color-text-subtle);
    font-size: var(--text-size-2);
    line-height: 1.25;
  }

  .suggestions__suggestion-bold {
    color: var(--color-neutral-7);
    font-weight: var(--text-weight-bold);
  }

  [data-store-button] {
    display: inline-flex;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--color-secondary-0);
    }
  }

  [data-suggestions-list] {
    padding: var(--space-1) 0;
  }
}

[data-suggestions-suggested-products] {
  padding: var(--space-3) var(--space-2);
  border-top: var(--border-width-0) solid var(--color-border-display);
}
