@import "src/styles/scaffold";

.suggestions__title {
  font-size: var(--text-size-3);
  line-height: 1.5;
}

.suggestions__section {
  padding: var(--space-1) var(--space-3) var(--space-2);
  background-color: var(--bg-neutral-lightest);
}

.suggestions__top-search {
  ol {
    margin-top: rem(20px);
  }

  li {
    display: flex;
    align-items: center;
    font-size: var(--text-size-2);
    line-height: 1.25;

    [data-store-badge] {
      margin-right: var(--space-1);
    }

    &:not(:first-child) { margin-top: var(--space-4); }
  }
}
