[data-store-shimmer] {
  /*
   * Parent must have `position: relative` and `overflow: hidden`
   * in order to the effect to work properly.
   */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1s infinite;

  [data-shimmer] {
    width: 50%;
    height: 100%;
    background: var(--color-white-transparent-20);
    box-shadow: 0 0 var(--space-5) var(--space-5) var(--color-white-transparent-20);
    transform: skewX(-20deg);
  }
}

@keyframes loading {
  0% { transform: translate3d(-150%, 0, 0); }
  50% { transform: translate3d(-60%, 0, 0); }
  100% { transform: translate3d(150%, 0, 0); }
}
