@import "../../../styles/scaffold.scss";

[data-store-button] {
  /* stylelint-disable */

  // Design Tokens for Buttons
  // --------------------------------------------------------

  // Default properties
  --button-padding                              : var(--space-1) var(--space-3);
  --button-padding-small                        : 0 var(--space-1);
  --button-height                               : var(--min-size);
  --button-shadow                               : var(--shadow);
  --button-gap                                  : var(--space-2);

  --button-border-radius                        : var(--border-radius-default);
  --button-border-width                         : var(--border-width-default);
  --button-border-color                         : transparent;

  --button-text-size                            : var(--font-size-base);
  --button-text-weight                          : bold;

  --button-transition-function                  : var(--transition-function);
  --button-transition-property                  : var(--transition-property);
  --button-transition-timing                    : var(--transition-timing);

  // Semantic types & interactive states
  --button-primary-bkg-color                    : var(--color-primary-bkg);
  --button-primary-text-color                   : var(--color-primary-text);
  --button-primary-border-color                 : transparent;
  --button-primary-hover-shadow                 : var(--shadow-hover);
  --button-primary-hover-bkg-color              : var(--color-primary-hover-bkg);
  --button-primary-hover-border-color           : var(--button-primary-border-color);
  --button-primary-active-bkg-color             : var(--color-primary-active-bkg);
  --button-primary-active-border-color          : var(--button-primary-border-color);

  --button-primary-inverse-bkg-color            : var(--button-primary-text-color);
  --button-primary-inverse-text-color           : var(--button-primary-bkg-color);
  --button-primary-inverse-border-color         : var(--button-primary-border-color);
  --button-primary-inverse-hover-shadow         : var(--shadow-hover);
  --button-primary-inverse-hover-bkg-color      : var(--button-secondary-hover-bkg-color);
  --button-primary-inverse-hover-border-color   : var(--button-primary-border-color);
  --button-primary-inverse-active-bkg-color     : var(--button-secondary-active-bkg-color);
  --button-primary-inverse-active-border-color  : var(--button-primary-border-color);

  --button-secondary-bkg-color                  : var(--color-secondary-bkg);
  --button-secondary-text-color                 : var(--color-secondary-text);
  --button-secondary-border-color               : var(--button-secondary-text-color);
  --button-secondary-hover-shadow               : var(--shadow-hover);
  --button-secondary-hover-bkg-color            : var(--color-secondary-hover-bkg);
  --button-secondary-hover-border-color         : var(--button-secondary-border-color);
  --button-secondary-active-bkg-color           : var(--color-secondary-active-bkg);
  --button-secondary-active-border-color        : var(--button-secondary-hover-border-color);

  --button-secondary-inverse-bkg-color          : transparent;
  --button-secondary-inverse-text-color         : var(--color-text-inverse);
  --button-secondary-inverse-border-color       : var(--color-text-inverse);
  --button-secondary-inverse-hover-shadow       : var(--shadow-hover);
  --button-secondary-inverse-hover-bkg-color    : rgba(255, 255, 255, .1);
  --button-secondary-inverse-hover-border-color : var(--button-secondary-inverse-border-color);
  --button-secondary-inverse-active-bkg-color   : rgba(255, 255, 255, .2);
  --button-secondary-inverse-active-border-color: var(--button-secondary-inverse-hover-border-color);

  --button-tertiary-bkg-color                  : var(--color-tertiary-bkg);
  --button-tertiary-text-color                 : var(--color-tertiary-text);
  --button-tertiary-border-color               : transparent;
  --button-tertiary-hover-shadow               : var(--shadow-hover);
  --button-tertiary-hover-bkg-color            : var(--color-tertiary-hover-bkg);
  --button-tertiary-hover-border-color         : var(--button-tertiary-border-color);
  --button-tertiary-active-bkg-color           : var(--color-tertiary-active-bkg);
  --button-tertiary-active-border-color        : var(--button-tertiary-border-color);

  --button-tertiary-inverse-bkg-color          : var(--button-secondary-inverse-bkg-color);
  --button-tertiary-inverse-text-color         : var(--color-text-inverse);
  --button-tertiary-inverse-border-color       : transparent;
  --button-tertiary-inverse-hover-shadow       : var(--shadow-hover);
  --button-tertiary-inverse-hover-bkg-color    : var(--button-secondary-inverse-hover-bkg-color);
  --button-tertiary-inverse-hover-border-color : var(--button-tertiary-inverse-border-color);
  --button-tertiary-inverse-active-bkg-color   : var(--button-secondary-inverse-active-bkg-color);
  --button-tertiary-inverse-active-border-color: var(--button-tertiary-inverse-hover-border-color);


  --button-disabled-bkg-color                   : var(--bg-disabled);
  --button-disabled-text-color                  : var(--color-neutral-6);
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: var(--button-height);
  padding: var(--button-padding);
  font-weight: var(--button-text-weight);
  font-size: var(--button-text-size);
  text-decoration: none;
  column-gap: var(--button-gap);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  outline: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: var(--button-transition-property) var(--button-transition-timing) var(--button-transition-function);

  [data-store-icon] {
    display: flex;
    align-items: center;
  }

  // Structure Variants
  // --------------------------------------------------------

  &[data-button-variant] {
    @include focus-ring-visible;

    &:disabled, &[data-button-disabled="true"] {
      color: var(--button-disabled-text-color);
      background-color: var(--button-disabled-bkg-color);
      border: 0;
      box-shadow: none;
      cursor: not-allowed;
      svg { color: var(--color-neutral-5); }

      &:hover {
        color: var(--button-disabled-text-color);
        background-color: var(--button-disabled-bkg-color);
      }
    }
  }

  &[data-button-size="small"] {
    padding: var(--button-padding-small);
    font-size: var(--text-size-1);

    @media (any-pointer: fine) {
      --min-size: 38px;
    }
  }

  &[data-button-variant="primary"] {
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-bkg-color);
    border: var(--button-border-width) solid var(--button-primary-border-color);

    &:hover {
      background-color: var(--button-primary-hover-bkg-color);
      border-color: var(--button-primary-hover-border-color);
      box-shadow: var(--button-primary-hover-shadow);
    }

    &:active {
      background-color: var(--button-primary-active-bkg-color);
      border-color: var(--button-primary-active-border-color);
    }

    &[data-button-inverse] {
      color: var(--button-primary-inverse-text-color);
      background-color: var(--button-primary-inverse-bkg-color);
      border: var(--button-border-width) solid var(--button-primary-inverse-border-color);

      &:hover {
        background-color: var(--button-primary-inverse-hover-bkg-color);
        border-color: var(--button-primary-inverse-hover-border-color);
        box-shadow: var(--button-primary-inverse-hover-shadow);
      }

      &:active {
        background-color: var(--button-primary-inverse-active-bkg-color);
        border-color: var(--button-primary-inverse-active-border-color);
      }
    }
  }

  &[data-button-variant="secondary"] {
    color: var(--button-secondary-text-color);
    background-color: var(--button-secondary-bkg-color);
    border: var(--button-border-width) solid var(--button-secondary-border-color);

    &:hover {
      background-color: var(--button-secondary-hover-bkg-color);
      border-color: var(--button-secondary-hover-border-color);
      box-shadow: var(--button-secondary-hover-shadow);
    }

    &:active {
      background-color: var(--button-secondary-active-bkg-color);
      border-color: var(--button-secondary-active-border-color);
    }

    &[data-button-inverse] {
      color: var(--button-secondary-inverse-text-color);
      background-color: var(--button-secondary-inverse-bkg-color);
      border: var(--button-border-width) solid var(--button-secondary-inverse-border-color);

      &:hover {
        background-color: var(--button-secondary-inverse-hover-bkg-color);
        border-color: var(--button-secondary-inverse-hover-border-color);
        box-shadow: var(--button-secondary-inverse-hover-shadow);
      }

      &:active {
        background-color: var(--button-secondary-inverse-active-bkg-color);
        border-color: var(--button-secondary-inverse-active-border-color);
      }
    }
  }

  &[data-button-variant="tertiary"] {
    color: var(--button-tertiary-text-color);
    background-color: var(--button-tertiary-bkg-color);
    border: var(--button-border-width) solid var(--button-tertiary-border-color);

    &:hover {
      background-color: var(--button-tertiary-hover-bkg-color);
      border-color: var(--button-tertiary-hover-border-color);
      box-shadow: var(--button-tertiary-hover-shadow);
    }

    &:active {
      background-color: var(--button-tertiary-active-bkg-color);
      border-color: var(--button-tertiary-active-border-color);
      outline: none;
    }

    &[data-button-inverse] {
      color: var(--button-tertiary-inverse-text-color);
      background-color: var(--button-tertiary-inverse-bkg-color);
      border: var(--button-border-width) solid var(--button-tertiary-inverse-border-color);

      &:hover {
        background-color: var(--button-tertiary-inverse-hover-bkg-color);
        border-color: var(--button-tertiary-inverse-hover-border-color);
        box-shadow: var(--button-tertiary-inverse-hover-shadow);
      }

      &:active {
        background-color: var(--button-tertiary-inverse-active-bkg-color);
        border-color: var(--button-tertiary-inverse-active-border-color);
      }
    }
  }
}

.link-button[data-store-button] {
  &:hover { text-decoration: none; }

  &[data-button-disabled="true"] { pointer-events: none; }
}

.cart-sidebar__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-5) var(--page-padding-phone) var(--space-4);
  background-color: var(--bg-neutral-lightest);
}
