@import "../../../styles/vendors/include-media.scss";

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  width: 100%;

  @include media(">=notebook") {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap-0);
  }

  li {
    background-color: var(--color-neutral-0);
  }

  [data-store-card] {
    min-width: initial;

    &[data-card-bordered="true"] {
      border: none;

      @include media(">=notebook") {
        border: 1px solid var(--color-border-display);
      }
    }
  }
}
