@import "src/styles/scaffold";

.product-grid {
  --gap: 2px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);

  @include media(">=notebook") {
    --gap: var(--grid-gap-0);

    $pagination-start-index: 2;

    grid-template-columns: repeat(4, 1fr);

    &:nth-of-type(n + #{$pagination-start-index}) {
      margin-top: var(--gap);
    }
  }

  li {
    background-color: var(--color-neutral-0);
  }
}
