[data-store-price] {
  &[data-variant="listing"] {
    text-decoration-line: line-through;
    color: var(--color-text-subtle);
  }

  &[data-variant="spot"] {
    margin-left: var(--space-1);
    font-weight: var(--text-weight-bold);
  }
}
