[data-store-badge] {
  /* stylelint-disable */

  // Design Tokens for Badge
  // --------------------------------------------------------
  --badge-padding                  : var(--space-1) var(--space-2);

  --badge-border-radius            : var(--border-radius-default);
  --badge-border-width             : var(--border-width-default);
  --badge-border-color             : transparent;

  --badge-bkg-color                : var(--color-neutral-bkg);

  --badge-text-color               : var(--color-text);
  --badge-text-size                : var(--font-size-base);
  --badge-text-weight              : var(--text-weight-bold);

  --badge-success-bkg-color        : var(--color-success-bkg);
  --badge-success-text-color       : var(--color-success-text);
  --badge-success-border-color     : var(--color-success-bkg);

  --badge-highlighted-bkg-color    : var(--color-highlighted-bkg);
  --badge-highlighted-text-color   : var(--color-highlighted-text);
  --badge-highlighted-border-color : var(--color-highlighted-bkg);

  --badge-info-bkg-color           : var(--color-info-bkg);
  --badge-info-text-color          : var(--color-info-text);
  --badge-info-border-color        : var(--color-info-bkg);

  --badge-neutral-bkg-color        : var(--color-neutral-bkg);
  --badge-neutral-text-color       : var(--color-neutral-text);
  --badge-neutral-border-color     : var(--color-neutral-bkg);

  --badge-promo-bkg-color          : var(--color-promo-bkg);
  --badge-promo-text-color         : var(--color-promo-text);
  --badge-promo-border-color       : var(--color-promo-bkg);

  --badge-small-text-size          : var(--font-size-tiny);
  --badge-small-padding            : var(--space-0) var(--space-2);
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  width: fit-content;
  height: fit-content;
  padding: var(--badge-padding);
  color: var(--badge-text-color);
  font-weight: var(--badge-text-weight);
  font-size: var(--badge-text-size);
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--badge-bkg-color);
  border: var(--badge-border-width) solid var(--badge-border-color);
  border-radius: var(--badge-border-radius);
}

// Structure Variants
// --------------------------------------------------------

[data-store-badge="small"] {
  padding: var(--badge-small-padding);
  font-size: var(--badge-small-text-size);
}

[data-store-badge-variant="success"] {
  color: var(--badge-success-text-color);
  background-color: var(--badge-success-bkg-color);
  border-color: var(--badge-success-border-color);
}

[data-store-badge-variant="highlighted"] {
  color: var(--badge-highlighted-text-color);
  background-color: var(--badge-highlighted-bkg-color);
  border-color: var(--badge-highlighted-border-color);
}

[data-store-badge-variant="info"] {
  color: var(--badge-info-text-color);
  background-color: var(--badge-info-bkg-color);
  border-color: var(--badge-info-border-color);
}

[data-store-badge-variant="neutral"] {
  color: var(--badge-neutral-text-color);
  background-color: var(--badge-neutral-bkg-color);
  border-color: var(--badge-neutral-border-color);
}

[data-store-badge-variant="promo"] {
  color: var(--badge-promo-text-color);
  background-color: var(--badge-promo-bkg-color);
  border-color: var(--badge-promo-border-color);
}
