.badge[data-store-badge] {
  width: fit-content;
  height: fit-content;
  padding: var(--fs-spacing-1) var(--fs-spacing-2);
  color: var(--fs-color-text);
  font-weight: var(--fs-text-weight-bold);
  font-size: var(--fs-text-size-2);
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: var(--fs-border-radius-pill);

  &[data-store-badge="small"] {
    padding: var(--fs-spacing-0) var(--fs-spacing-2);
    font-size: var(--fs-text-size-0);
  }
}

[data-store-badge-variant="neutral"] {
  background-color: var(--fs-color-neutral-bkg);
}

[data-store-badge-variant="highlighted"] {
  background-color: var(--fs-color-highlight-bkg);
}

[data-store-badge-variant="info"] {
  background-color: var(--fs-color-info-bkg);
}

[data-store-discount-badge-variant="low"] {
  background-color: var(--fs-color-success-bkg);
}

[data-store-discount-badge-variant="medium"] {
  background-color: var(--fs-color-warning-bkg);
}

[data-store-discount-badge-variant="high"] {
  background-color: var(--fs-color-danger-bkg);
}
