@import "src/styles/scaffold";

a, [data-store-link] {
  border-radius: var(--fs-border-radius-default);
  transition: box-shadow .5s ease;

  @include focus-ring-visible;
}

[data-store-link] {
  min-width: auto;
  min-height: auto;
  padding: var(--fs-spacing-2) var(--fs-spacing-0);
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:visited { color: var(--fs-color-link-visited); }
}

// Links ////////////////////////////

[data-link-variant="default"] {
  color: var(--fs-color-link);
  line-height: 1.5;
}

[data-link-variant="display"] {
  color: var(--fs-color-text-display);
  line-height: 1.5;
  &:visited { color: var(--fs-color-text-display); }
}

[data-link-variant="inline"] {
  display: inline-block;
  padding: 0;
  text-decoration: underline;
}

[data-link-variant="footer"] {
  color: var(--fs-color-text);
  font-size: var(--fs-text-size-1);

  @include media(">=notebook") { padding: var(--fs-spacing-1) var(--fs-spacing-0); }
}

[data-link-inverse] {
  color: var(--fs-color-link-inverse);
  &:visited { color: var(--fs-color-link-inverse); }
}
