[data-store-search-input] {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: var(--min-size);
}

[data-store-search-input] [data-store-input] {
  width: 100%;
  padding: var(--space-1) var(--space-2);
  border: var(--border-width-0) solid var(--color-border-input);
  border-radius: var(--border-radius-default);

  &:focus {
    border: var(--border-width-2) solid var(--color-secondary-2);
  }
}

[data-store-search-input] [data-store-icon] {
  display: block;
}

[data-store-search-input] [data-store-button] {
  position: absolute;
  right: 0;
  width: var(--space-7);
  height: var(--space-7);
  padding: 0;
  background-color: transparent;
  border: 0;
}

[data-store-search-input] [data-store-button] svg {
  width: var(--space-4);
  height: var(--space-4);
  color: var(--color-neutral-7);
}
