[data-store-search-input] {
  position: relative;
  display: inline-flex;
  width: 100%;
  border: 1px solid var(--color-neutral-4);
  border-radius: var(--border-radius-flat);
}

[data-store-search-input] [data-store-input] {
  width: 100%;
  height: var(--space-6);
  border: 0;
}

[data-store-search-input] [data-store-button] {
  position: absolute;
  right: 0;
  padding: var(--space-1) var(--space-2);
  background-color: transparent;
  border: 0;
}

[data-store-search-input] [data-store-button] svg {
  width: var(--space-4);
  height: var(--space-4);
  color: var(--color-neutral-7);
}
