@import "../../../styles/vendors/include-media";

[data-toggle] {
  --toggle-bkg-color-active: black;
  --toggle-bkg-color: white;

  --toggle-border-color-active: var(--toggle-border-color);
  --toggle-border-color: black;
  --toggle-border-radius: 0;
  --toggle-border-style: solid;
  --toggle-border-width: 1px;

  --toggle-height-desk: 30px;
  --toggle-height-mob: 48px;
  --toggle-height: var(--toggle-height-mob);

  --toggle-knob-border-color-active: var(--toggle-knob-border-color);
  --toggle-knob-border-color: black;
  --toggle-knob-color-active: white;
  --toggle-knob-color: black;
  --toggle-knob-radius: 0;
  --toggle-knob-shadow: none;

  --toggle-transition-function: ease-in-out;
  --toggle-transition-property: all;
  --toggle-transition-timing: .15s;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  input {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--toggle-bkg-color);
    border: var(--toggle-border-width) var(--toggle-border-style) var(--toggle-border-color);
    border-radius: var(--toggle-border-radius);
    cursor: pointer;
    transition: var(--toggle-transition-property) var(--toggle-transition-timing) var(--toggle-transition-function);
    appearance: none;

    &:checked {
      background-color: var(--toggle-bkg-color-active);
      border-color: var(--toggle-border-color-active);

      + [data-toggle-knob] {
        left: calc(50% + (var(--toggle-border-width) * 2));
        background-color: var(--toggle-knob-color-active);
        border-color: var(--toggle-knob-border-color-active);
      }
    }

    &:focus { outline: 2px solid var(--toggle-bkg-color-active); }
  }
}

[data-toggle-container] {
  position: relative;
  width: calc(var(--toggle-height) * 2);
  height: var(--toggle-height);

  @include media(">notebook") { --toggle-height: var(--toggle-height-desk); }
}

[data-toggle-knob] {
  position: absolute;
  top: calc(var(--toggle-border-width) * 2);
  left: calc(var(--toggle-border-width) * 2);
  z-index: 2;
  display: block;
  width: calc(50% - (var(--toggle-border-width) * 4));
  height: calc(100% - (var(--toggle-border-width) * 4));
  background-color: var(--toggle-knob-color);
  border: var(--toggle-border-width) var(--toggle-border-style) var(--toggle-knob-border-color);
  border-radius: var(--toggle-knob-radius);
  box-shadow: var(--toggle-knob-shadow);
  transition: var(--toggle-transition-property) var(--toggle-transition-timing) var(--toggle-transition-function);
  pointer-events: none;
}

.theme-3 {
  --toggle-color-bkg-active: var(--bg-primary-default);
  --toggle-color-bkg: var(--bg-neutral-lightest);
  --toggle-color-border-knob: var(--color-neutral-3);
  --toggle-color-border: var(--color-neutral-3);
  --toggle-color-knob-active: var(--toggle-color-knob);
  --toggle-color-knob: var(--bg-neutral-lightest);
  --toggle-color-focus: var(--toggle-color-bkg-active);
  --toggle-height-desk: 38px;
  --toggle-radius-knob: var(--border-radius-default);
  --toggle-radius: var(--border-radius-default);
  --toggle-shadow-knob: var(--box-shadow);
}

.theme-4 {
  --toggle-border-width: 2px;
  --toggle-color-bkg-active: darkgreen;
  --toggle-color-bkg: var(--color-neutral-3);
  --toggle-color-border-active-knob: darkgreen;
  --toggle-color-border-active: darkgreen;
  --toggle-color-border-knob: var(--color-neutral-3);
  --toggle-color-border: var(--color-neutral-3);
  --toggle-color-knob-active: var(--toggle-color-knob);
  --toggle-color-knob: var(--bg-neutral-lightest);
  --toggle-color-focus: var(--toggle-color-bkg-active);
  --toggle-radius-knob: var(--border-radius-circle);
  --toggle-radius: var(--border-radius-pill);
  --toggle-shadow-knob: none;
}
