@import "../../../styles/vendors/include-media";

[data-base-toggle] {

  // Design Tokens for Input Toggle
  // --------------------------------------------------------

  /* stylelint-disable */
  --toggle-bkg-color-active        : black;
  --toggle-bkg-color               : white;

  --toggle-border-color-active     : var(--toggle-border-color);
  --toggle-border-color            : black;
  --toggle-border-radius           : 0;
  --toggle-border-width            : 1px;

  --toggle-height-desk             : 30px;
  --toggle-height-mob              : 34px;
  --toggle-height                  : var(--toggle-height-mob);

  --toggle-knob-border-color-active: var(--toggle-knob-border-color);
  --toggle-knob-border-color       : black;
  --toggle-knob-color-active       : white;
  --toggle-knob-color              : black;
  --toggle-knob-radius             : 0;
  --toggle-knob-shadow             : none;

  --toggle-hover-border            : var(--toggle-border-color-active);

  --toggle-transition-function     : ease-in-out;
  --toggle-transition-property     : all;
  --toggle-transition-timing       : .15s;
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  input {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--toggle-bkg-color);
    border: var(--toggle-border-width) solid var(--toggle-border-color);
    border-radius: var(--toggle-border-radius);
    cursor: pointer;
    transition: var(--toggle-transition-property) var(--toggle-transition-timing) var(--toggle-transition-function);
    appearance: none;

    &:checked {
      background-color: var(--toggle-bkg-color-active);
      border-color: var(--toggle-border-color-active);

      + [data-base-toggle-knob] {
        left: calc(50% + (var(--toggle-border-width) * 2));
        background-color: var(--toggle-knob-color-active);
        border-color: var(--toggle-knob-border-color-active);
      }
    }

    &:focus { outline: 2px solid var(--toggle-bkg-color-active); }

    @media (hover: hover) {
      &:hover { border-color: var(--toggle-hover-border); }
    }
  }
}

[data-base-toggle-container] {
  position: relative;
  width: calc(var(--toggle-height) * 2);
  height: var(--toggle-height);

  @include media(">notebook") { --toggle-height: var(--toggle-height-desk); }
}

[data-base-toggle-knob] {
  position: absolute;
  top: calc(var(--toggle-border-width) * 2);
  left: calc(var(--toggle-border-width) * 2);
  z-index: 2;
  display: block;
  width: calc(50% - (var(--toggle-border-width) * 4));
  height: calc(100% - (var(--toggle-border-width) * 4));
  background-color: var(--toggle-knob-color);
  border: var(--toggle-border-width) solid var(--toggle-knob-border-color);
  border-radius: var(--toggle-knob-radius);
  box-shadow: var(--toggle-knob-shadow);
  transition: var(--toggle-transition-property) var(--toggle-transition-timing) var(--toggle-transition-function);
  pointer-events: none;
}
