@import "src/styles/scaffold";

.postal-code-input {
  // Lighthouse
  margin-top: 1rem;

  [data-store-label] {
    font-family: Arial; /* stylelint-disable-line */ // Prevent layout shift
  }

  [data-store-input] {
    border: var(--fs-border-width-default) solid var(--fs-border-color-default);
    border-radius: var(--fs-border-radius-default);

    // Lighthouse
    height: var(--fs-control-tap-size); /* stylelint-disable-line */
    margin-left: 1rem;
    font-family: Arial; /* stylelint-disable-line */ // prevent layout shift
  }
}

[data-postal-code-bar] {
  width: 100%;

  [data-fs-button][data-fs-button-variant="tertiary"] {
    width: 100%;
    padding: 0 var(--fs-spacing-3) 0 var(--fs-spacing-4);
    color: var(--fs-color-text-display);
    border-radius: 0;

    @include media(">=notebook") {
      min-height: var(--fs-spacing-5);
      padding: var(--fs-spacing-0) var(--fs-spacing-3) var(--fs-spacing-0) 0;
      border-right: var(--fs-border-width-default) solid var(--fs-border-color-light);
    }
  }

  span {
    &:nth-of-type(2) {
      margin-right: auto;
      font-weight: var(--fs-text-weight-regular);

      @include media(">=notebook") {
        font-weight: var(--fs-text-weight-bold);
      }
    }
  }

  #postal-code-bar-edit {
    text-decoration: underline;
  }
}
