@import "src/styles/scaffold";

.navbar {
  padding: 0;
  border-bottom: var(--border-width-0) solid var(--color-neutral-2);
  box-shadow: 0 var(--space-0) var(--space-3) var(--color-black-transparent-5);

  [data-store-search-input] {
    flex: 1 0 100%;
    order: 2;

    @include media("<notebook") {
      display: none;
    }
  }
}

.navbar__row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(">=notebook") {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 37.5rem) 1fr;
  }

  @include media("<notebook") {
    + .navlinks__list {
      display: none;
    }
  }
}

.navbar__menu[data-store-button] {
  [data-store-icon] {
    width: 2rem;
    height: 2rem;
  }

  @include media(">=notebook") {
    display: none;
  }
}

.navbar__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .navbar__collapse {
    margin-left: calc(-1 * var(--space-3));
  }

  .signin-link[data-button-signin-link] {
    display: none;
  }

  .signin-link [data-store-icon] {
    width: 1.125rem;
    height: 1.125rem;
  }

  @include media(">=notebook") {
    order: 2;

    .signin-link[data-button-signin-link] {
      display: inline-flex;
    }
  }

  [data-store-search-input] {
    display: none;
    transition: flex 0.3s ease-in;

    @include media("<notebook") {
      display: inline-flex;
      flex: 0;
      order: 0;
      width: min-content;

      [data-store-input] {
        width: 0;
        padding: 0;
        border-width: 0;

        &:hover, &:focus, &:focus-visible &:hover:focus-visible {
          border-width: 0;
          box-shadow: 0 0;
        }
      }

      [data-store-icon] {
        margin-right: 0;
        line-height: 0;

        svg {
          width: var(--space-5);
          height: var(--space-5);
        }
      }
    }
  }

  &[data-store-search-expanded="true"] {
    width: 100%;

    [data-store-search-input] {
      flex: 1 1;
      margin-right: 0.625rem;

      [data-store-input] {
        width: calc(100% - var(--space-7));
      }

      [data-store-icon] {
        margin-right: 0;
      }
    }

    .cart-toggle {
      margin-right: -4.063rem;
      transition: margin 0.3s ease-in;
    }
  }
}

.navbar__header {
  padding-top: var(--space-1);
  padding-bottom: var(--space-2);
  overflow: hidden;

  @include media(">=notebook") {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
  }
}

.navbar__logo {
  width: 9.25rem;
  height: 2.5625rem;
  min-height: 2.5625rem;
  padding: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.navbar__modal-body {
  padding: var(--page-padding-phone);
}

.navbar__modal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-2);

  .navbar__button {
    margin-right: calc(-1 * var(--space-1));

    [data-store-icon] {
      width: 2rem;
      height: 2rem;
    }
  }
}

.navlinks {
  .navlinks__signin {
    margin-top: var(--space-2);
    padding-top: var(--space-2);

    .signin-link[data-button-signin-link] {
      width: fit-content;
      padding-left: 0;

      @include media(">=notebook") {
        display: none;
      }
    }
  }
}

.navlinks__list {
  a {
    display: block;
    width: 100%;
  }

  @include media(">=notebook") {
    ul {
      display: flex;
      padding-top: var(--space-1);
      column-gap: var(--space-3);
    }

    a {
      width: auto;
      padding: var(--space-0) 0;
    }
  }

  @include media("<notebook") {
    border-top: var(--border-width-0) solid var(--color-neutral-2);
    border-bottom: var(--border-width-0) solid var(--color-neutral-2);
  }
}
