@import "../../../styles/vendors/include-media";

.navbar {
  [data-store-search-input] {
    flex: 1 0 100%;
    order: 2;
  }

  @include media(">=tablet") {
    [data-store-search-input] {
      order: 1;
      max-width: 37.5rem;
    }

    .navlinks {
      flex: 1 0 100%;
      order: 3;
    }
    .cart-toggle { order: 2; }
  }
}

.navbar__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--space-1) 0;

  @include media(">=tablet") {
    padding: var(--space-2) 0;
  }
}

.navbar__logo svg {
  width: 9.25rem;
  height: 2.6rem;
}
