@import "src/styles/scaffold";

[data-fs-input-text] {
  --fs-input-text-padding-horizontal: var(--fs-spacing-2);

  position: relative;
  display: flex;
  flex-flow: column;
  margin: 1rem; // TODO: remove

  input,
  label {
    transition: var(--fs-transition-property) 0.2s var(--fs-transition-function);
  }

  input {
    height: var(--fs-control-tap-size);

    // padding: 14px var(--fs-spacing-2) 0;
    padding: var(--fs-spacing-2) var(--fs-input-text-padding-horizontal) 0;
    font-size: var(--fs-text-size-2);
    line-height: 1.25;
    border: var(--fs-border-width-default) solid var(--fs-border-color-default);
    border-radius: var(--fs-border-radius-default);

    &:placeholder-shown + label {
      top: calc(1.5 * (var(--fs-text-size-2) / 2));
      overflow: hidden;
    }

    &:-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    &:focus:-webkit-input-placeholder {
      opacity: 1;
    }

    @include input-focus-ring;

    &:not(:placeholder-shown) + label,
    &:focus + label {
      top: 6px;
      font-size: var(--fs-text-size-0);
    }

    &:hover:not(:disabled) {
      border-color: var(--fs-border-color-default-active);
      box-shadow: 0 0 0 var(--fs-border-width-default) var(--fs-border-color-default-active);
    }

    &:disabled {
      background-color: var(--fs-color-disabled-bkg);
      border: 0;
      cursor: not-allowed;
      + label { cursor: not-allowed; }
    }
  }

  label {
    position: absolute;
    padding: 0 var(--fs-input-text-padding-horizontal);
    color: var(--fs-color-neutral-6);
    font-size: var(--fs-text-size-2);
    line-height: 1.5;
  }
}

[data-fs-input-text-message] {
  margin-top: 2px;
  font-size: var(--fs-text-size-legend);
  line-height: 1.5;
}

[data-fs-input-text-error="true"] {
  input {
    border-color: var(--fs-color-danger-text);

    @include input-focus-ring-error;
  }

  [data-fs-input-text-message] {
    color: var(--fs-color-danger-text);
  }
}

[data-fs-input-text-button="true"] {
  input {
    padding-right: 75px;
  }

  [data-store-button] {
    position: absolute;
    top: 4px;
    right: 4px;
    min-height: 40px;

    &::before {
      position: absolute;
      left: -4px;
      width: 1px;
      height: 70%;
      background: var(--fs-border-color-default);
      content: "";
    }
  }
}
