@import "src/styles/scaffold";

[data-store-banner] {
  padding-top: var(--fs-spacing-6);
  padding-bottom: var(--fs-spacing-6);
  text-align: center;
  background-color: var(--fs-color-main-4);

  h2, p {
    display: inline;
    color: var(--fs-color-text-inverse);

    @include media(">=notebook") { display: block; }
  }

  [data-banner-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  [data-banner-text] {
    font-size: var(--fs-text-size-3);
    font-weight: var(--fs-text-weight-bold);
    line-height: 1.25;

    @include media(">=notebook") { font-size: var(--fs-text-size-6); }
  }

  [data-banner-link] a {
    width: 11.25rem;
    margin-top: var(--fs-spacing-5);

    @include media(">=notebook") {
      padding: var(--fs-spacing-2) var(--fs-spacing-4);
      margin-top: var(--fs-spacing-7);
    }
  }

  @include media(">=notebook") {
    padding-top: var(--fs-spacing-9);
    padding-bottom: var(--fs-spacing-9);
  }
}
