@import "src/styles/scaffold";

[data-fs-banner-text] {
  // --------------------------------------------------------
  // Design Tokens for Banner Text
  // --------------------------------------------------------

  --fs-banner-text-padding-mobile              : var(--fs-spacing-6) 0;
  --fs-banner-text-padding-desktop             : var(--fs-spacing-9) 0;

  --fs-banner-text-bkg-color                   : var(--fs-color-main-4);
  --fs-banner-text-text-color                  : var(--fs-color-text-inverse);

  --fs-banner-text-link-width                  : 11.25rem;
  --fs-banner-text-link-padding                : var(--fs-spacing-2) var(--fs-spacing-4);
  --fs-banner-text-link-margin-mobile          : var(--fs-spacing-5) 0 0 0;
  --fs-banner-text-link-margin-desktop         : var(--fs-spacing-7) 0 0 0;

  --fs-banner-text-title-size                  : var(--fs-text-size-lead);
  --fs-banner-text-title-weight                : var(--fs-text-weight-bold);

  // Primary properties
  --fs-banner-text-primary-title-size-desktop  : var(--fs-text-size-title-page);
  --fs-banner-text-primary-title-line          : 1.2;

  // Secondary properties
  --fs-banner-text-secondary-title-size-desktop : var(--fs-text-size-4);
  --fs-banner-text-secondary-title-line         : 1.2;
  --fs-banner-text-secondary-caption-size       : var(--fs-text-size-base);
  --fs-banner-text-secondary-caption-weight     : var(--fs-text-weight-regular);
  --fs-banner-text-secondary-caption-line       : 1.5;

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding: var(--fs-banner-text-padding-mobile);
  text-align: center;
  background-color: var(--fs-banner-text-bkg-color);

  @include media(">=notebook") {
    padding: var(--fs-banner-text-padding-desktop);
  }

  [data-fs-banner-text-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  [data-fs-banner-text-link] a {
    width: var(--fs-banner-text-link-width);
    margin: var(--fs-banner-text-link-margin-mobile);

    @include media(">=notebook") {
      padding: var(--fs-banner-text-link-padding);
      margin: var(--fs-banner-text-link-margin-desktop);
    }
  }
}

// --------------------------------------------------------
// Variants Styles
// --------------------------------------------------------

[data-fs-banner-text-variant="primary"] {
  h2 {
    font-size: var(--fs-banner-text-title-size);
    font-weight: var(--fs-banner-text-title-weight);
    line-height: var(--fs-banner-text-primary-title-line);
    color: var(--fs-banner-text-text-color);

    @include media(">=notebook") {
      display: block;
      font-size: var(--fs-banner-text-primary-title-size-desktop);
    }
  }
}

[data-fs-banner-text-variant="secondary"] {
  h2 {
    margin-bottom: var(--fs-spacing-2);
    font-size: var(--fs-banner-text-title-size);
    font-weight: var(--fs-banner-text-title-weight);
    line-height: var(--fs-banner-text-secondary-title-line);
    color: var(--fs-banner-text-text-color);

    @include media(">=notebook") {
      display: block;
      font-size: var(--fs-banner-text-secondary-title-size-desktop);
    }
  }

  p {
    font-size: var(--fs-banner-text-secondary-caption-size);
    font-weight: var(--fs-banner-text-secondary-caption-weight);
    line-height: var(--fs-banner-text-secondary-caption-line);
    color: var(--fs-banner-text-text-color);
  }
}
