@import "../../../styles/vendors/include-media";

[data-store-banner] {
  /* stylelint-disable */

  // Design Tokens for Banner Section
  // --------------------------------------------------------

  // Default properties
  --banner-bkg-color          : var(--color-primary-bkg);
  --banner-text-color         : var(--color-primary-text);

  --banner-title-color        : var(--banner-text-color);
  --banner-title-size         : var(--font-size-superheading);
  --banner-title-line         : 1.25;

  --banner-caption-color      : var(--banner-text-color);
  --banner-caption-size       : var(--font-size-superlead);
  --banner-caption-line       : 1.5;
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
  text-align: center;
  background-color: var(--banner-bkg-color);

  [data-banner-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2, p {
    color: var(--banner-text-color);
  }

  h2 {
    color: var(--banner-title-color);
    font-weight: var(--text-weight-bold);
    font-size: var(--banner-title-size);
    line-height: var(--banner-title-line);
  }

  p {
    margin-top: var(--space-0);
    color: var(--banner-caption-color);
    font-size: var(--banner-caption-size);
    line-height: var(--banner-caption-line);
  }

  [data-banner-link] a {
    margin-top: var(--space-5);

    @include media(">=notebook") {
      margin-top: var(--space-7);
      padding: var(--space-2) var(--space-4);
    }
  }

  @include media(">=notebook") {
    padding-top: var(--space-9);
    padding-bottom: var(--space-9);
  }
}
