@import "src/styles/scaffold";

.empty-state[data-empty-state] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  margin: var(--space-5) 0;
  padding: var(--space-5) 0;
  background-color: var(--bg-neutral);
  row-gap: var(--space-3);

  @include media(">=notebook") {
    margin-top: 0;
  }

  > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-2);
    color: var(--color-text-disabled);
    row-gap: var(--space-1);

    p {
      font-size: var(--text-size-3);
    }
  }

  a {
    min-width: rem(190px);
  }
}
