@import "src/styles/scaffold";

[data-fs-image-gallery] {
  position: relative;
  left: calc(-1 * var(--fs-grid-padding));
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-2);
  width: calc(100% + (2 * var(--fs-grid-padding)));

  @include media(">=notebook") {
    display: flex;
    flex-direction: row-reverse;
    column-gap: var(--fs-spacing-3);
  }

  [data-store-image] {
    @include media(">=tablet") {
      border-radius: var(--fs-border-radius-default);
      transform: translate3d(0, 0, 0);
    }
  }

  @include media(">=tablet") {
    left: 0;
    grid-row: 1 / span 2;
    grid-column: span 7;
    width: 100%;
    margin-bottom: var(--fs-spacing-7);
  }

  @include media(">=notebook") { grid-column: span 8; }
}

[data-fs-image-gallery="has-selector"] {
  @include media(">notebook") {
    // This max-height is defined as a fallback for browsers
    // that does not support the aspect-ratio property
    max-height: rem(600px);

    // TODO: Define this aspect ratio as token so we can apply to differnt ratios of images;
    aspect-ratio: 4.57/3;
  }
}
