@import "../../../styles/scaffold";

[data-base-incentives] {
  /* stylelint-disable */

  // Design Tokens for Incentives Section
  // --------------------------------------------------------

  // Default properties
  --incentives-text-color           : var(--color-text);
  --incentives-text-size            : var(--text-size-1);
  --incentives-bkg-color            : var(--color-info-bkg);

  --incentives-divider-color        : var(--color-neutral-1);

  --incentives-icon-color           : var(--incentives-text-color);

  --incentives-title-color          : var(--incentives-text-color);
  --incentives-title-size           : var(--incentives-text-size);
  --incentives-title-line           : 1.42;

  --incentives-description-color    : var(--incentives-text-color);
  --incentives-description-size     : var(--incentives-text-size);
  --incentives-description-line     : 1.14;
  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  background-color: transparent;

  [data-store-list] {
    display: flex;
    overflow-x: auto;

    @include media("<notebook") {
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);

      li {
        &:not(:first-child) {
          [data-store-incentive] {
            padding: 0 var(--space-4);
          }
        }

        &:first-child {
          [data-store-incentive] {
            padding-right: var(--space-4);
            padding-left: 0;
          }
        }

        &:last-child {
          [data-store-incentive] {
            padding-right: 0;
          }
        }
      }
    }

    @include media(">=notebook") {
      justify-content: center;
    }

    li {
      &:not(:last-child) { border-right: 1px solid var(--incentives-divider-color); }
    }
  }

  [data-store-incentive] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    [data-incentive-content] {
      font-size: var(--incentives-text-size);
      text-align: center;
    }

    svg { color: var(--incentives-icon-color); }

    p {
      color: var(--incentives-title-color);
      font-weight: var(--text-weight-bold);
      font-size: var(--incentives-title-size);
      line-height: var(--incentives-title-line);
    }

    span {
      display: block;
      color: var(--incentives-description-color);
      font-size: var(--incentives-description-size);
      line-height: var(--incentives-description-line);
      white-space: nowrap;
    }

    @include media("<notebook") { row-gap: var(--space-0); }

    @include media(">=notebook") {
      flex-direction: row;
      padding: 0 var(--space-5);

      [data-incentive-content] {
        margin-left: var(--space-2);
        text-align: left;
      }
    }
  }
}

// Variants
// --------------------------------------------------------

[data-base-incentives-colored="true"] { background-color: var(--incentives-bkg-color); }
