@import "src/styles/scaffold";

.history__title {
  align-self: center;
  font-size: var(--text-size-3);
  line-height: 1.5;
}

.history__header {
  display: flex;
  justify-content: space-between;
}

.history__section {
  padding: var(--space-1) var(--space-3) var(--space-2);
  background-color: var(--bg-neutral-lightest);
}

[data-store-search-history] {
  ol {
    margin-top: var(--space-1);
  }

  li {
    font-size: var(--text-size-2);

    [data-store-link] {
      display: flex;
      justify-content: space-between;
      color: var(--color-neutral-6);
    }

    [data-store-icon] {
      margin-right: var(--space-1);
    }
  }
}
