@import "src/styles/scaffold";

.history__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history__title {
  font-size: var(--text-size-3);
}

[data-store-search-history] {
  padding: var(--space-1) var(--space-3) var(--space-2);
  background-color: var(--bg-neutral-lightest);

  ol {
    margin-top: var(--space-1);
  }

  li {
    font-size: var(--text-size-2);

    [data-store-link] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--color-neutral-6);

      div {
        display: flex;
        align-items: center;
      }
    }

    [data-store-icon] {
      display: flex;
      &:first-child { margin-right: var(--space-1); }
    }
  }
}
