@import "src/styles/scaffold";

[data-store-search-history-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
}

[data-store-search-history-title] {
  font-size: var(--text-size-3);
}

[data-store-search-history] {
  padding: var(--space-1) var(--space-3) var(--space-2);
  background-color: var(--bg-neutral-lightest);
}

[data-store-search-history-item] {
  [data-store-link] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--space-3);
    padding-left: var(--space-3);
    color: var(--color-neutral-6);
    font-size: var(--text-size-2);
  }

  [data-store-icon] {
    display: flex;
    &:first-of-type { margin-right: var(--space-1); }
  }
}

[data-store-search-history-arrow] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-4);
  height: var(--space-4);
  margin-left: auto;
}
