@import "src/styles/scaffold";

[data-fs-hero] {
  /* stylelint-disable */

  // Design Tokens for Hero Section
  // --------------------------------------------------------

  // Default properties
  --fs-hero-bkg-color                  : var(--fs-color-primary-bkg);

  --fs-hero-title-line                 : 1.1;

  --fs-hero-text-color                 : var(--fs-color-text-inverse);
  --fs-hero-text-size                  : var(--fs-text-size-lead);
  --fs-hero-text-line                  : 1.33;

  // Primary properties
  --fs-hero-primary-img-height-mob     : #{rem(240px)};
  --fs-hero-primary-img-height-desk    : #{rem(464px)};
  --fs-hero-primary-title-size         : var(--fs-text-size-7);

  // Secondary properties
  --fs-hero-secondary-img-height-mob   : #{rem(180px)};
  --fs-hero-secondary-img-height-desk  : #{rem(227px)};
  --fs-hero-secondary-title-size       : var(--fs-text-size-title-page);

  /* stylelint-enable */

  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: var(--fs-hero-bkg-color);

  @include media(">=tablet") {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
}

[data-fs-hero-content] {
  width: 100%;
  padding: var(--fs-spacing-5) 0 var(--fs-spacing-6);
  color: var(--fs-hero-text-color);

  h1 {
    font-size: var(--fs-hero-primary-title-size);
    font-weight: var(--fs-text-weight-black);
    line-height: var(--fs-hero-title-line);
  }

  p {
    margin-top: var(--fs-spacing-2);
    font-size: var(--fs-hero-text-size);
    line-height: var(--fs-hero-text-line);

    @include media(">=tablet") { margin-top: var(--fs-spacing-4); }
  }

  [data-store-button] {
    justify-content: space-between;
    min-width: 11.25rem;
    margin-top: var(--fs-spacing-6);
  }
}

[data-fs-hero-wrapper] {
  display: flex;
  gap: var(--fs-spacing-3);
  justify-content: space-between;

  @include media(">=tablet") {
    gap: var(--fs-spacing-1);
    justify-content: flex-start;
  }
}

[data-fs-hero-icon] { color: var(--fs-hero-text-color); }

[data-fs-hero-info] {
  @include media(">=tablet") { width: 42%; }
}

[data-fs-hero-image] {
  @include media(">=tablet") {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
}

[data-fs-hero-variant="primary"] {
  @include media(">=tablet") { min-height: var(--fs-hero-primary-img-height-desk); }

  [data-fs-hero-content] {
    @include media(">=tablet") {
      display: flex;
      align-items: center;
      padding: var(--fs-spacing-9) 0;
    }
  }

  [data-store-button] {
    @include media(">=tablet") { margin-top: var(--fs-spacing-8); }
  }

  [data-fs-hero-image] {
    @include media("<tablet") { height: var(--fs-hero-primary-img-height-mob); }
  }

  [data-fs-hero-info] {
    @include media(">=tablet") { padding-right: var(--fs-spacing-9); }
  }
}

[data-fs-hero-variant="secondary"] {
  @include media(">=tablet") { min-height: var(--fs-hero-secondary-img-height-desk); }

  h1 { font-size: var(--fs-hero-secondary-title-size); }

  [data-fs-hero-content] {
    padding: var(--fs-spacing-4) 0 var(--fs-spacing-5);

    @include media(">=tablet") { padding: var(--fs-spacing-5) 0; }
  }

  [data-fs-hero-image] {
    @include media("<tablet") { height: var(--fs-hero-secondary-img-height-mob); }
  }
}
